<nav class="nav--docpage">
  <div class="nav--docpage__slider slider">
    <ul class="nav--docpage__sections">
      <li class="nav--docpage__section">
        <h4 class="nav--docpage__heading">{{ nav__docpage__heading }}</h4>
        <ul class="doclist">
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-install }}">{{ doclist__link }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-configure }}">{{ doclist__link_1 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-run }}">{{ doclist__link_2 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-edit }}">{{ doclist__link_3 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-update }}">{{ doclist__link_4 }}</a></li>
        </ul>
      </li>
      <li class="nav--docpage__section">
        <h4 class="nav--docpage__heading">{{ nav__docpage__heading_1 }}</h4>
        <ul class="doclist">
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-intro-to-json-mustache }}">{{ doclist__link_5 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-global-data }}">{{ doclist__link_6 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-partial-data }}">{{ doclist__link_7 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-pattern-data }}">{{ doclist__link_8 }}</a></li>
        </ul>
      </li>
      <li class="nav--docpage__section">
        <h4 class="nav--docpage__heading">{{ nav__docpage__heading_2 }}</h4>
        <ul class="doclist">
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-pattern-organization }}">{{ doclist__link_9 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-pattern-partials }}">{{ doclist__link_10 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-pattern-parameters }}">{{ doclist__link_11 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-pseudo-patterns }}">{{ doclist__link_12 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-hidden-patterns }}">{{ doclist__link_13 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-global-head-and-foot }}">{{ doclist__link_14 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-link-patterns }}">{{ doclist__link_15 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-annotate-patterns }}">{{ doclist__link_16 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-pattern-states }}">{{ doclist__link_17 }}</a></li>
        </ul>
      </li>
      <li class="nav--docpage__section">
        <h4 class="nav--docpage__heading">{{ nav__docpage__heading_3 }}</h4>
        <ul class="doclist">
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-live-reload }}">{{ doclist__link_18 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-static-site-generator }}">{{ doclist__link_19 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-the-backend }}">{{ doclist__link_20 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-templater }}">{{ doclist__link_21 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-webserved-directories }}">{{ doclist__link_22 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-mustache-browser }}">{{ doclist__link_23 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-html-scraper }}">{{ doclist__link_24 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-variables-styl }}">{{ doclist__link_25 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-ui-customization }}">{{ doclist__link_26 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-extensions }}">{{ doclist__link_27 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-express-app }}">{{ doclist__link_28 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-mobile-devices }}">{{ doclist__link_29 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-i18n }}">{{ doclist__link_30 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-keyboard-shortcuts }}">{{ doclist__link_31 }}</a></li>
          <li class="doclist__item"><a class="doclist__link" href="{{ link.pages-query-string-variables }}">{{ doclist__link_32 }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
  {{> elements-button-up }}
  <div class="nav--docpage__buttons">
    {{> elements-button-left(button_class: 'nav--docpage__button--left') }}
    {{> elements-button-right(button_class: 'nav--docpage__button--right') }}
  </div>
  {{> components-overlay-opacity-top }}
  {{> components-overlay-opacity-bottom }}
</nav>
