<nav class="nav--main">
  <div class="nav--main__slider slider">
    <ul class="navlist">
      <li class="navlist__item"><a href="{{ link.pages-homepage }}">Homepage</a></li>
      <li class="navlist__item"><a href="redirect.html?url=https://github.com/electric-eloquence/fepper/releases/latest">Download</a></li>
      <li class="navlist__item"><a href="{{ link.pages-docpage }}">Documentation</a></li>
      <li class="navlist__item"><a href="https://github.com/electric-eloquence/fepper/discussions">Discussion</a></li>
    </ul>
    <div class="nav--main__buttons">
      {{> 01-elements/buttons/button-left(button_class: 'nav--main__button--left') }}
      {{> 01-elements/buttons/button-right(button_class: 'nav--main__button--right') }}
    </div>
  </div>
</nav>
