<div class="foundation">
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
</div>
