<nav class="nav--main">
  <div class="nav--main__slider">
    <ul class="nav--main__ul">
      <li class="nav--main__li"><a href="{{ link.pages-index }}">Documentation</a></li>
    </ul>
    <div class="nav--main__buttons">
      {{> 01-elements/buttons/button-left }}
      {{> 01-elements/buttons/button-right }}
    </div>
  </div>
</nav>
