<section id="branding" class="branding">
  <div class="logo">
    <div id="logoBg" class="logo__bg">
      <h1>Fepper: a Front End Prototyper tool for rapid prototyping of web sites</h1>
      <h2>With Fepper, you can: Output static HTML for the simplest websites. Output templates in any language for the most complex websites.</h2>
    </div>
    {{> 00-elements/images/logo }}
    <div class="logo__border"></div>{{! This border is necessary when zooming in Firefox. }}
  </div>
</section>
