<div class="foundation">
  <!--googleoff: index-->
  <div class="browser-advice pad-bottom-space">
    <div style="font-size: 1.87rem; font-weight: bold;">
      This website is best viewed on up-to-date browsers.
    </div>
    <div style="font-size: 1.7rem; font-weight: bold;">
      If your browser has experimental ES6 Module capability, try enabling it.
    </div>
  </div>
  <!--googleon: index-->
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
</div>
