<div class="foundation">
  <!--googleoff: index-->
  <div id="browser-advice" class="browser-advice pad-bottom-space fade">
    <div style="font-size: 1.87rem; font-weight: bold;">
      This website is best viewed on up-to-date browsers.
    </div>
  </div>
  <!--googleon: index-->
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
  <section class="content__pane">
  </section>
</div>
