<div id="mainContent" class="main__content">
  <div class="main__content__center">
    <section class="main__content__block main__content__slid">
      <h3 class="main__content__head">With Fepper, you can:</h3>
    </section>
    <section class="main__content__block main__content__slider">
      <div class="main__content__desc">
        Output static HTML for the simplest websites.
      </div>
      <div class="main__content__desc">
        Output templates in any language for the most complex websites.
      </div>
    </section>
    <section class="main__content__block main__content__slider">
      <h3 class="main__content__head">For simple websites, you can:</h3>
      <div class="main__content__desc">
        Reuse components, like headers and footers, across multiple pages.
      </div>
      <div class="main__content__desc">
        View a live rendering of the changes to your code as you make them.
      </div>
      <div class="main__content__desc">
        Add more tools via extensions if your website grows in complexity.
      </div>
    </section>
    <section class="main__content__block main__content__slider">
      <h3 class="main__content__head">For complex websites, you can:</h3>
      <div class="main__content__desc">
        Separate your frontend concerns from your backend concerns.
      </div>
      <div class="main__content__desc">
        Maintain a styleguide and/or library of designs for permanent reference.
      </div>
      <div class="main__content__desc">
        Easily version-control said styleguide or library of designs.
      </div>
    </section>
    <section class="main__content__block main__content__slider">
      <h3 class="main__content__head">Retain control and flexibility:</h3>
      <div class="main__content__desc">
        Use JavaScript in the paradigm and to the degree that you are comfortable with.
      </div>
      <div class="main__content__desc">
        You will not be forced into marriage with any CSS preprocessor, CSS selector paradigm, or holy war.
      </div>
    </section>
    <section class="main__content__block main__content__slider">
      <h3 class="main__content__head">
        Life is already expensive. Why make it more expensive?
      </h3>
      <p class="main__content__desc">
        While costly subscriptions to paid online services may appeal to some, and code may frighten the same, there are no guarantees about the future survival of those businesses, or even the imminent uptime of their services.
      </p>
      <p class="main__content__desc">
        Fepper is Open Source Software. It is free to put on your machine, and free to keep on your machine, forever.
      </p>
      <p class="main__content__desc">
        A purely frontend website can be served from any host (including free ones), without requiring a database or preprocessing backend.
      </p>
    </section>
    <section class="main__content__block main__content__slider">
      <h3 class="main__content__head link-github">
        <a href="https://github.com/electric-eloquence/fepper/releases/latest" target="_blank">
          Download from GitHub:
        </a>
        <a class="link-github__arrow" href="https://github.com/electric-eloquence/fepper/releases/latest" target="_blank">
           &#8681;
        </a>
      </h3>
      <h3 class="main__content__head link-github">
        <a href="https://github.com/electric-eloquence/fepper#readme" target="_blank">
          Learn more, get started:
        </a>
        <a class="link-github__arrow" href="https://github.com/electric-eloquence/fepper#readme" target="_blank">
          &#8680;
        </a>
      </h3>
    </section>
  </div>
</div>
