*.log
*.tmp*
*~
.*.swp
.DS_Store
/.timestamp
/conf.yml
/public/*
!/public/.babelrc
!/public/package.json
!/public/static/
!/public/static/node_modules/jquery/
!/public/static/node_modules/redux/
!/public/static/node_modules/requerio/
!/public/test/
/source/_static/
ignore/
node_modules/
package-lock.json
