*.log
*.tmp*
*~
.*.swp
.DS_Store
/.timestamp*
/conf.yml
/public/*
!/public/.babelrc
!/public/package.json
!/public/static/
!/public/test/
ignore/
node_modules/
!/public/static/node_modules/
/public/static/node_modules/*
!/public/static/node_modules/jquery/
/public/static/node_modules/jquery/*
!/public/static/node_modules/jquery/dist
!/public/static/node_modules/redux/
/public/static/node_modules/redux/*
!/public/static/node_modules/redux/dist
!/public/static/node_modules/requerio/
/public/static/node_modules/requerio/*
!/public/static/node_modules/requerio/src
package-lock.json
