<section id="branding" class="branding">
  <div class="logo">
    <div id="logoBg" class="logo__bg"></div>
    <img id="logoImg" class="logo__img" src="../../_assets/src/fepper-inverse.svg" alt"Fepper: Frontend Hotness!">
  </div>
</section>
