<section id="branding" class="branding">
  <div class="logo">
    <div id="logoBg" class="logo__bg">
      <h1>Fepper: Frontend Hotness!</h1>
    </div>
    {{> 00-elements/images/logo }}
    <div class="logo__border"></div>{{! This border is necessary when zooming in Firefox. }}
  </div>
</section>
