{{> components-video-head }}
{{> components-branding }}
<main class="main">
  {{> components-foundation-homepage }}
  {{> components-content-homepage }}
</main>
{{> components-hider }}
{{> elements-button-up }}
{{> elements-button-down }}
{{> components-bottom }}
{{> components-nav-main }}
<script src="../../_scripts/src/homepage.js" type="module"></script>
