{{> 02-components/navigation }}
{{> 01-elements/buttons/button-up }}
{{> 01-elements/buttons/button-down }}
{{> 02-components/video-head }}
{{> 02-components/branding }}
<main class="main">
  {{> 02-components/foundation }}
  {{> 02-components/content }}
</main>
{{> 02-components/hider }}
{{> 02-components/bottom }}
<script src="../../_scripts/src/homepage.js" type="module"></script>
