{{> components-nav-main }}
{{> elements-button-up }}
{{> elements-button-down }}
{{> components-video-head }}
{{> components-branding }}
<main class="main">
  {{> components-foundation-homepage }}
  {{> components-content-homepage }}
</main>
{{> components-hider }}
{{> components-bottom }}
<script src="../../_scripts/src/browser-advice.js"></script>
<script src="../../_scripts/src/homepage.js" type="module"></script>
