{{> components-branding }}
<main class="main">
  {{> components-foundation-docpage }}
  {{> components-overlay-filter-top }}
  {{> components-overlay-filter-middle }}
  {{> components-overlay-filter-bottom }}
  {{> components-overlay-opacity-top }}
  {{> components-overlay-opacity-bottom }}
</main>
<script src="../../_scripts/src/docpage.js" type="module"></script>
