    <script>
      if (window.navigator.userAgent.includes('Safari')) {
        document.documentElement.classList.add('webkit');
      }
    </script>
    <section class="foundation"></section>
    <section class="overlay overlay--filter overlay--top"></section>
    <section class="overlay overlay--filter overlay--middle"></section>
    <section class="overlay overlay--filter overlay--bottom"></section>
    <section class="overlay overlay--opacity overlay--top"></section>
    <section class="overlay overlay--opacity overlay--bottom"></section>
  <script>
      const foundation = document.getElementsByClassName('foundation')[0];
      let elReverse = 120;

      while (elReverse--) {
        const el = document.createElement('div');

        el.setAttribute('class', 'el el--' + elReverse);

        for (let j = 0; j < 40; j++) {
          el.innerHTML += elReverse;
        }

        foundation.appendChild(el);
      }

      const overlayFilterTop = document.getElementsByClassName('overlay--filter')[0];
      const overlayFilterBottom = document.getElementsByClassName('overlay--filter')[2];
      let olfReverse = 120;

      while (olfReverse--) {
        const ol = document.createElement('div');
        ol.setAttribute('class', 'ol olf olf--' + olfReverse);
        ol.innerHTML = '&nbsp';

        if (olfReverse >= 60) {
          overlayFilterTop.appendChild(ol);
        }
        else {
          overlayFilterBottom.appendChild(ol);
        }
      }

      for (let i = 0; i < 120; i++) {
        const ol = document.getElementsByClassName('olf--' + i)[0];
        let style = 'backdrop-filter: hue-rotate(' + i + 'deg);';
        style += '-webkit-backdrop-filter: hue-rotate(' + i + 'deg)';
        ol.setAttribute('style', style);
      }

      for (let i = 0; i < 60; i++) {
        const ol = document.getElementsByClassName('olf--' + i)[0];
        const saturate = (59 - i) / 60;
        let styleArr = ol.getAttribute('style').split(';');
        const styleNew = styleArr.reduce((acc, cur) => acc + cur + ' saturate(' + saturate + ');', '');

        ol.setAttribute('style', styleNew);
      }

      for (let i = 60; i < 120; i++) {
        const ol = document.getElementsByClassName('olf--' + i)[0];
        const saturate = (i - 60) / 60;
        let styleArr = ol.getAttribute('style').split(';');
        const styleNew = styleArr.reduce((acc, cur) => acc + cur + ' saturate(' + saturate + ');', '');

        ol.setAttribute('style', styleNew);
      }

      const overlayOpacityTop = document.getElementsByClassName('overlay--opacity')[0];
      const overlayOpacityBottom = document.getElementsByClassName('overlay--opacity')[1];
      let oloReverse = 120;

      while (oloReverse--) {
        const ol = document.createElement('div');
        ol.setAttribute('class', 'ol olo olo--' + oloReverse);
        ol.innerHTML = '&nbsp';

        if (oloReverse >= 60) {
          overlayOpacityTop.appendChild(ol);
        }
        else {
          overlayOpacityBottom.appendChild(ol);
        }
      }

      for (let i = 0; i < 60; i++) {
        const ol = document.getElementsByClassName('olo--' + i)[0];
        const opacity = (59 - i) / 60;
        ol.setAttribute('style', 'opacity: ' + opacity);
      }

      for (let i = 60; i < 120; i++) {
        const ol = document.getElementsByClassName('olo--' + i)[0];
        const opacity = (i - 60) / 60;
        ol.setAttribute('style', 'opacity: ' + opacity);
      }
    </script> 
