<main class="foundation">
  {{^ docpage_index? }}
  <article class="content {{ article_class }}">
    {{# docpage_install? }}
      {{> components-content-docpage-install }}
    {{/ docpage_install? }}
    {{# docpage_configure? }}
      {{> components-content-docpage-configure }}
    {{/ docpage_configure? }}
    {{# docpage_configure_1? }}
      {{> components-content-docpage-configure-1 }}
    {{/ docpage_configure_1? }}
    {{# docpage_run? }}
      {{> components-content-docpage-run }}
    {{/ docpage_run? }}
    {{# docpage_edit? }}
      {{> components-content-docpage-edit }}
    {{/ docpage_edit? }}
    {{# docpage_update? }}
      {{> components-content-docpage-update }}
    {{/ docpage_update? }}
    {{# docpage_intro_to_json_mustache? }}
      {{> components-content-docpage-intro-to-json-mustache }}
    {{/ docpage_intro_to_json_mustache? }}
    {{# docpage_global_data? }}
      {{> components-content-docpage-global-data }}
    {{/ docpage_global_data? }}
    {{# docpage_partial_data? }}
      {{> components-content-docpage-partial-data }}
    {{/ docpage_partial_data? }}
    {{# docpage_pattern_data? }}
      {{> components-content-docpage-pattern-data }}
    {{/ docpage_pattern_data? }}
    {{# docpage_pattern_organization? }}
      {{> components-content-docpage-pattern-organization }}
    {{/ docpage_pattern_organization? }}
    {{# docpage_pattern_partials? }}
      {{> components-content-docpage-pattern-partials }}
    {{/ docpage_pattern_partials? }}
    {{# docpage_pattern_parameters? }}
      {{> components-content-docpage-pattern-parameters }}
    {{/ docpage_pattern_parameters? }}
    {{# docpage_pseudo_patterns? }}
      {{> components-content-docpage-pseudo-patterns }}
    {{/ docpage_pseudo_patterns? }}
    {{# docpage_hidden_patterns? }}
      {{> components-content-docpage-hidden-patterns }}
    {{/ docpage_hidden_patterns? }}
    {{# docpage_global_head_and_foot? }}
      {{> components-content-docpage-global-head-and-foot }}
    {{/ docpage_global_head_and_foot? }}
    {{# docpage_pattern_links? }}
      {{> components-content-docpage-pattern-links }}
    {{/ docpage_pattern_links? }}
    {{# docpage_pattern_annotations? }}
      {{> components-content-docpage-pattern-annotations }}
    {{/ docpage_pattern_annotations? }}
    {{# docpage_pattern_states? }}
      {{> components-content-docpage-pattern-states }}
    {{/ docpage_pattern_states? }}
    {{# docpage_static_site_generator? }}
      {{> components-content-docpage-static-site-generator }}
    {{/ docpage_static_site_generator? }}
    {{# docpage_the_backend? }}
      {{> components-content-docpage-the-backend }}
    {{/ docpage_the_backend? }}
    {{# docpage_templater? }}
      {{> components-content-docpage-templater }}
    {{/ docpage_templater? }}
    {{# docpage_webserved_directories? }}
      {{> components-content-docpage-webserved-directories }}
    {{/ docpage_webserved_directories? }}
    {{# docpage_mustache_browser? }}
      {{> components-content-docpage-mustache-browser }}
    {{/ docpage_mustache_browser? }}
    {{# docpage_html_scraper? }}
      {{> components-content-docpage-html-scraper }}
    {{/ docpage_html_scraper? }}
    {{# docpage_variables_styl? }}
      {{> components-content-docpage-variables-styl }}
    {{/ docpage_variables_styl? }}
    {{# docpage_ui_customization? }}
      {{> components-content-docpage-ui-customization }}
    {{/ docpage_ui_customization? }}
    {{# docpage_extensions? }}
      {{> components-content-docpage-extensions }}
    {{/ docpage_extensions? }}
    {{# docpage_express_app? }}
      {{> components-content-docpage-express-app }}
    {{/ docpage_express_app? }}
    {{# docpage_mobile_devices? }}
      {{> components-content-docpage-mobile-devices }}
    {{/ docpage_mobile_devices? }}
    {{# docpage_i18n? }}
      {{> components-content-docpage-i18n }}
    {{/ docpage_i18n? }}
    {{# docpage_keyboard_shortcuts? }}
      {{> components-content-docpage-keyboard-shortcuts }}
    {{/ docpage_keyboard_shortcuts? }}
    {{# docpage_query_string_variables? }}
      {{> components-content-docpage-query-string-variables }}
    {{/ docpage_query_string_variables? }}
  </article>
  {{/ docpage_index? }}
  {{> components-nav-docpage }}
</main>
