<main class="foundation">
  <article class="content">
    {{# docpage_install? }}
      {{> components-content-docpage-install }}
    {{/ docpage_install? }}
  </article>
  {{> components-nav-docpage }}
</main>
