<main class="foundation">
  {{^ docpage_index? }}
  <article class="content {{ article_class }}">
    {{# docpage_install? }}
      {{> components-content-docpage-install }}
    {{/ docpage_install? }}
    {{# docpage_configure? }}
      {{> components-content-docpage-configure }}
    {{/ docpage_configure? }}
    {{# docpage_configure_1? }}
      {{> components-content-docpage-configure-1 }}
    {{/ docpage_configure_1? }}
    {{# docpage_run? }}
      {{> components-content-docpage-run }}
    {{/ docpage_run? }}
    {{# docpage_edit? }}
      {{> components-content-docpage-edit }}
    {{/ docpage_edit? }}
    {{# docpage_update? }}
      {{> components-content-docpage-update }}
    {{/ docpage_update? }}
    {{# docpage_pattern_organization? }}
      {{> components-content-docpage-pattern-organization }}
    {{/ docpage_pattern_organization? }}
    {{# docpage_including_pattern_partials? }}
      {{> components-content-docpage-including-pattern-partials }}
    {{/ docpage_including_pattern_partials? }}
    {{# docpage_pattern_parameters? }}
      {{> components-content-docpage-pattern-parameters }}
    {{/ docpage_pattern_parameters? }}
    {{# docpage_pseudo_patterns? }}
      {{> components-content-docpage-pseudo-patterns }}
    {{/ docpage_pseudo_patterns? }}
    {{# docpage_hiding_patterns? }}
      {{> components-content-docpage-hiding-patterns }}
    {{/ docpage_hiding_patterns? }}
    {{# docpage_global_head_and_foot? }}
      {{> components-content-docpage-global-head-and-foot }}
    {{/ docpage_global_head_and_foot? }}
    {{# docpage_linking_patterns? }}
      {{> components-content-docpage-linking-patterns }}
    {{/ docpage_linking_patterns? }}
    {{# docpage_annotating_patterns? }}
      {{> components-content-docpage-annotating-patterns }}
    {{/ docpage_annotating_patterns? }}
    {{# docpage_pattern_states? }}
      {{> components-content-docpage-pattern-states }}
    {{/ docpage_pattern_states? }}
    {{# docpage_data_json_mustache? }}
      {{> components-content-docpage-data-json-mustache }}
    {{/ docpage_data_json_mustache? }}
  </article>
  {{/ docpage_index? }}
  {{> components-nav-docpage }}
</main>
