<div>font-style: normal;</div>
<div style="font-style: italic;">font-style: italic;</div>
<div style="font-style: oblique;">font-style: oblique;</div>
<div><em>&lt;em&gt;Emphasis tag&lt;/em&gt;</em></div>
<div><code>&lt;code&gt;inline&lt;/code&gt;</code></div>
<pre><code>&lt;code&gt;
  multi
    line
  block
&lt;/code&gt;</code></pre>
