@import 'style'

.fade
  transition: opacity 1s
.foundation
  display: flex
  padding-top: 5rem
  .webkit &
    color: #f00
.content
  width: calc(100vw - 30rem)
.nav--docpage
  width: 30rem
.overlay
  pointer-events: none
  position: fixed
  width: 100%
.overlay--top,
.overlay--bottom
  height: 6rem
.overlay--top
  top: $branding-height
.overlay--middle
  backdrop-filter: contrast(1.5) saturate(0)
  -webkit-backdrop-filter: contrast(1.5) saturate(0)
  height: 'calc(100vh - %s - 12rem)' % $branding-height
  top: $branding-height + 6rem
.overlay--bottom
  bottom: 0
.ol
  font-size: 0.1rem
  line-height: 1
.olo
  background-color: white
.hider
  bottom: 0
  height: 5rem
.bottom
  padding-top: 2.4rem
