@import 'style'

$fade-height = 6rem
$fade-height-small = $fade-height * $bp-sm-ratio
$fade-offset = 5rem
$fade-offset-small = $fade-offset * $bp-sm-ratio
$nav-docpage-width = 28.8rem
$nav-docpage-width-small = 25rem
$nav-docpage-height = 105rem

body
  @media all and (max-width: $bp-sm-max)
    overflow-x: hidden
h4
  margin: 1.6rem 0 0
code
  .webkit &
    background-color: #fbb
pre
  overflow-x: auto
  .webkit &
    background-color: #fbb
    > code
      background-color: transparent
ul + p
  margin-top: 1.6rem
.fade
  transition: opacity 1s
.octicon
  display: none
.foundation
  display: flex
  padding-top: 3rem
  position: relative
  margin: 0 auto
  max-width: $max-width
  min-height: 'calc(100vh - %s - %s)' % ($logo-height $bottom-height)
  @media all and (max-width: $bp-sm-max)
    display: block // Necessary for overlay--opacity to work.
    min-height: 'calc(100vh - %s - %s)' % ($logo-height-small $bottom-height)
    .safari &
      overflow-x: hidden
.content
  padding: 2rem 1.5rem 4rem 4.5rem
  width: 'calc(100vw - %s)' % $nav-docpage-width
  a
    text-decoration: underline
  ul
    list-style-type: disc
    margin-left: 1.2em
    > li > ul
      list-style-type: circle
      > li > ul
        list-style-type: square
        ul
          list-style-type: disc
  @media all and (max-width: $bp-md-max)
    width: 'calc(100vw - %s)' % $nav-docpage-width-small
  @media all and (max-width: $bp-sm-max)
    min-height: $nav-docpage-height
    padding: 2rem 4rem 0
    width: 100%
  @media all and (max-width: $bp-xs-max)
    padding-right: 3rem
    padding-left: 3rem
  @media all and (min-width: $max-width)
    width: 'calc(%s - %s)' % ($max-width $nav-docpage-width)
  .docpage--index &
    width: 100%
  .webkit &
    color: #f00
    a
      color: #f00
.nav--docpage
  width: $nav-docpage-width
  &.in
    .nav--docpage__slider.nav--docpage__slider.nav--docpage__slider
      @media all and (max-width: $bp-sm-max)
        transform: translateX(0)
    .button--nav--left
      opacity: 0
      pointer-events: none
  @media all and (max-width: $bp-md-max)
    width: $nav-docpage-width-small
  @media all and (max-width: $bp-sm-max)
    width: auto
  .docpage--index &
    padding-right: 1.6rem
    width: 100%
    @media all and (max-width: $bp-sm-max)
      padding-right: 0.8rem
    .webkit &
      color: #f00
      a
        color: #f00
  &__sections
    padding: 2rem 0.8rem 4rem 3rem
    @media all and (max-width: $bp-sm-max)
      padding-left: 2rem
    .docpage--index &
      display: grid
      grid-template-columns: 50% 50%
      grid-template-rows: auto
      .nav--docpage__section
        padding: 0 0 2.4rem 33%
        @media all and (max-width: $bp-md-max)
          padding-left: 20%
        @media all and (max-width: $bp-sm-max)
          padding-left: 3rem
      @media all and (max-width: $bp-xs-max)
        display: block
  &__buttons
    display: none
    z-index: 2
    &.shifted
      bottom: $bottom-height 
    @media all and (max-width: $bp-sm-max)
      @extend .slide .slider
      display: flex
      bottom: 0
      position: fixed
      width: 2 * $button-width
      right: -($button-width)
      .in &
        transform: translateX(-($button-width))
      .docpage--index &
        display: none
    @media all and (max-width: $bp-xs-max)
      width: 2 * $button-width-small
      right: -($button-width-small)
      .in &
        transform: translateX(-($button-width-small))
.content,
.nav--docpage__sections
  padding-bottom: $button-width-small
.button--scroll--up
  display: block
  opacity: 0
  position: fixed
  top: auto
  right: 0
  bottom: $button-width
  transition: opacity 0.25s
  width: $button-width
  height: $button-width
  &.opaque
    .in &
      opacity: 1
  &.shifted
    bottom: $button-width-small + $bottom-height 
  @media all and (max-width: $bp-xs-max)
    bottom: $button-width-small
    width: $button-width-small
    height: $button-width-small
:not(.docpage--index) > .foundation > .nav--docpage > .nav--docpage__slider
  min-height: 100%
  position: relative
  z-index: 1
  > .nav--docpage__sections > .nav--docpage__section:first-child > .nav--docpage__heading
    margin-top: 0.8rem
  @media all and (max-width: $bp-sm-max)
    position: absolute
    top: 3rem
    right: 0
    transform: translateX($nav-docpage-width-small)
    width: $nav-docpage-width-small
.overlay
  pointer-events: none
  position: fixed
  width: 100%
.overlay--top,
.overlay--bottom
  height: $fade-height
.overlay--top
  top: $logo-height
  @media all and (max-width: $bp-sm-max)
    top: $logo-height-small
.overlay--middle
  backdrop-filter: contrast(1.5) saturate(0)
  -webkit-backdrop-filter: contrast(1.5) saturate(0)
  height: 'calc(100vh - %s - %s)' % ($logo-height ($fade-height * 2))
  top: unit($logo-height / 10, 'rem') + $fade-height
  @media all and (max-width: $bp-sm-max)
    height: 'calc(100vh - %s - %s)' % ($logo-height-small ($fade-height * 2))
    top: unit($logo-height-small / 10, 'rem') + $fade-height
.overlay--bottom
  bottom: 0
.docpage--index > .overlay--opacity.overlay--top,
.docpage--index > .overlay--opacity.overlay--bottom
  display: none
body > .overlay--opacity.overlay--top,
body > .overlay--opacity.overlay--bottom
  @media all and (max-width: $bp-sm-max)
    display: none
.overlay__line
  font-size: 0.1rem
  line-height: 1
.overlay__line--opacity
  background-color: white

.content--docpage--configure
  h5
    margin-top: 2.4rem
  p
    margin-bottom: 0.8rem
  p + p
    padding-top: 0.8rem
  p:last-of-type
    margin-bottom: 0
  pre
    min-width: 44rem
.indent
  margin-left: 1.2em
  overflow-x: auto
  h5:first-child
    margin-top: 0.8rem
// position: sticky does not work in Safari when .foundation has overflow-x: hidden.
.sticky
  background-color: white
  margin-top: 0
  padding-top: 4rem
  padding-bottom: 0.4rem
  position: -webkit-sticky
  position: sticky
  top: $logo-height
  @media all and (max-width: $bp-sm-max)
    top: $logo-height-small
// Very brittle way of hiding the instruction to consult the Fepper website when this IS the Fepper website.
// Continuously check that this is in fact the element to be hidden.
.content--docpage--run > ul > li:nth-of-type(4)
  display: none
