//////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import '0-base/00-variables'
@import '0-base/01-reset'
@import '0-base/02-helpers'
@import '0-base/03-global'

.branding
  background-color: white
  position: -webkit-sticky
  position: sticky
  top: 0
  width: 100%
  z-index: 1
  &__link-inactive
    bottom: 0
    left: 0
    height: 3.2rem;
    position: absolute
    width: 100%
    @media all and (max-width: $bp-sm-max)
      height: 2.4rem;
.logo
  display: block
  margin: 0 auto
  overflow: hidden
  position: relative
  width: $logo-width
  height: $logo-height
  @media all and (max-width: $bp-sm-max)
    height: $logo-height-small
    width: $logo-width-small
  &__bg
    background: linear-gradient(to right, $green, $green 10%, rgb(200,181,17.5) 32.5%, $yellow 42.5%, $yellow 57.5%, rgb(255,160,17.5) 65%, $red 92.5%, $red)
    position: absolute
    bottom: 0.1rem
    transform: translateX(0%)
    width: $logo-bg-width
    height: calc(100% - 0.2rem)
    @media all and (max-width: $bp-sm-max)
      width: $logo-bg-width * $bp-sm-ratio
  &__img
    position: relative
    top: 0
    //right: 0.002rem // Was probably added to hide an errant border when zooming. Check and see if this is still necessary.
    @media all and (max-width: $bp-sm-max)
      width: $logo-width-small + 0.3rem
      height: $logo-height-small
  // This border hides an errant border when zooming in Firefox.
  &__border
    border: 0.05rem solid white
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
.button--nav,
.button--scroll
  background-color: transparent
  border: 0
  cursor: pointer
  line-height: 1
  outline: 0
  padding: 0
  svg
    display: block
    fill: #bbb
    width: $button-width
    height: $button-width
    @media all and (max-width: $bp-xs-max)
      width: $button-width-small
      height: $button-width-small
  // No focus border in Linux Firefox.
  &::-moz-focus-inner
    border: 0
  &:active svg
    fill: #999
  @media (hover: hover)
    &:hover svg
      fill: #999
.nav--main,
.nav--docpage
  &__buttons
    display: flex
    padding-bottom: 0
.nav--main
  bottom: 0
  height: 100%
  overflow: hidden
  position: fixed
  z-index: 1
  &.in
    width: $nav-main-width-full
  &.out
    width: 4.5rem
    @media all and (max-width: $bp-xs-max)
      width: 3.7rem
  &__slider
    bottom: 0
    left: 0
    overflow: hidden
    padding-top: 1rem
    position: absolute
    width: $nav-main-width-full
    &.shifted
      bottom: $bottom-height
    .in &
      background-color: white
      box-shadow: 0.3rem 0.3rem 1rem rgb(153, 136, 102)
      width: $nav-main-width-shown
    .out &
      transform: translateX(-13rem)
      @media all and (max-width: $bp-xs-max)
        transform: translateX(-($nav-main-width-shown))
  .button--nav--left
    margin: 0 8rem 0 0
    @media all and (max-width: $bp-xs-max)
      margin-right: 10rem
      margin-left: -0.5rem
  .button--nav--right
    .in &
      opacity: 0
.navlist__item
  font-weight: 500
  padding-left: 1.8rem
  @media all and (max-width: $bp-md-max)
    padding-left: 1.4rem
  @media all and (max-width: $bp-xs-max)
    padding-left: 1rem
.button--scroll
  position: fixed
  right: 0
  z-index: 1
  @media all and (max-width: $bp-xs-max)
    right: -0.4rem
  &--down
    bottom: 0
  &--up
    display: none
    top: 0
.bottom
  background-color: white
  position: relative
.footer
  background-color: black
  color: white
  padding: 3rem 0
  position: relative
  text-align: center
  width: 100%
  z-index: 1
