// /////////////////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import '0-base/00-variables'
@import '0-base/01-reset'
@import '0-base/02-fonts'
@import '0-base/03-helpers'
@import '0-base/04-global'

$video-head-height = 33.334vw
$logo-height = '%srem' % logo_height
$branding-pad = '%srem' % branding_pad
$item-last-offset = '%srem' % item_last_offset

body
  position: relative
.video-head
  width: 100%
  height: $video-head-height
.branding
  background: white
  padding: 1rem 0
  width: 100%
.logo
  margin: 0 auto
  overflow: hidden
  position: relative
  width: 30rem
  height: $logo-height
  &__bg
    background: linear-gradient(to left, $green-fepper, $green-fepper 20%, $yellow-fepper 40%, $yellow-fepper 60%, $red-fepper 80%, $red-fepper);
    position: absolute
    top: 0
    right: 0
    width: 150rem
    height: 100%
  &__img
    position: relative
    top: 0
    left: 0
.browser-advice
  margin-top: 'calc(100vh - %s - %s - %s - %s)' % ($video-head-height $logo-height $branding-pad $branding-pad)
.main
  max-width: $content-width-max
  margin: 0 auto
  text-align: center
  @media all and (max-width: $bp-md-max)
    margin: 0 ($space-quarter * 3)
.main__content__item
  transition: margin-top 1s
.main__content__slid
  margin-top: 0
.main__content__slid + .main__content__slider
  margin-top: 'calc(100vh - 17vw - %s - %s - %s)' % ($logo-height $branding-pad $branding-pad)
.main__content__slider
  color: transparent
.main__content__item--last
  margin-top: 'calc(100vh - %s - %s - %s - %s)' % ($item-last-offset $logo-height $branding-pad $branding-pad)
