// /////////////////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import '0-base/00-variables'
@import '0-base/01-reset'
@import '0-base/02-fonts'
@import '0-base/03-helpers'
@import '0-base/04-global'

body
  height: 200vh
  position: relative
.video-head
  width: 100%
  height: 40rem
.branding
  width: 100%
.logo
  margin 1rem auto
  overflow: hidden
  position: relative
  width: 30rem
  height: 20rem
  &__bg
    background: linear-gradient(to left, $green-fepper, $green-fepper 20%, $yellow-fepper 40%, $yellow-fepper 60%, $red-fepper 80%, $red-fepper);
    position: absolute
    top: 0
    right: 0
    width: 150rem
    height: 100%
  &__img
    position: relative
    top: 0
    left: 0
