* {
  box-sizing: border-box;
}
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}
header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}
.cf::before,
.cf::after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.cf::after {
  clear: both;
}
html {
  font-size: 10px;
}
body {
  font: 1.6em/1.5 "Fira Sans", sans-serif;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1.0625em;
}
h6 {
  font-size: 1em;
}
a {
  color: #333;
  text-decoration: none;
}
p a {
  text-decoration: underline;
}
ol,
ul {
  list-style-type: none;
}
.bg--black-less-contrast {
  background: #333;
  color: #fff;
}
.bg--green-fepper {
  background: #027d15;
}
.bg--red-fepper {
  background: #d00000;
}
.bg--yellow-fepper {
  background: #f0c000;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.pad-top-space {
  padding-top: 9.600000000000001rem;
}
.pad-bottom-space {
  padding-bottom: 9.600000000000001rem;
}
.pad-top-bottom-space {
  padding-top: 9.600000000000001rem;
  padding-bottom: 9.600000000000001rem;
}
.fade {
  transition: opacity 1s;
}
.fade--in.fade--in {
  opacity: 1;
}
.fade--out.fade--out {
  opacity: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
@media print {
  header.header,
  form,
  footer.footer {
    display: none;
  }
}
body {
  color: #333;
  position: relative;
}
p {
  margin-bottom: 1.6rem;
}
.body__contain {
  overflow: hidden;
}
.video {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 33.333333333333336vw;
  z-index: -1;
}
.video__bg {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 33.333333333333336vw;
}
.video__img {
  position: absolute;
}
.video__img--gen-0--0 {
  width: 50%;
  z-index: 1;
}
.video__img--gen-0--1 {
  height: 33.333333333333336vw;
}
.video__img--gen-0--2 {
  top: calc(33.333333333333336vw - 3.333333333333333vw);
  width: 50%;
}
.video__img--gen-0--3 {
  top: 2.5vw;
  width: 30%;
}
.video__img--gen-0--4 {
  top: calc(33.333333333333336vw - 3.333333333333333vw);
  width: 50%;
}
.video__img--gen-0--5 {
  right: 0;
  width: 50%;
}
.video__img--gen-1--0 {
  top: 2.5vw;
  width: 30%;
}
.video__img--gen-1--1 {
  top: calc(33.333333333333336vw - 3.333333333333333vw);
  width: 50%;
}
.video__img--gen-1--2 {
  right: 0;
  width: 50%;
}
.video__img--gen-1--3 {
  top: 1.25vw;
  left: 50%;
  width: 15%;
}
.video__img--gen-1--4 {
  top: 14.9vw;
  left: 50%;
  width: 25%;
}
.video__img--gen-1--5 {
  right: 0;
  width: 25%;
}
.video__img--gen-2--0 {
  top: 1.25vw;
  left: 50%;
  width: 15%;
}
.video__img--gen-2--1 {
  top: 14.9vw;
  left: 50%;
  width: 25%;
}
.video__img--gen-2--2 {
  right: 0;
  width: 25%;
}
.video__img--gen-2--3 {
  top: 0.625vw;
  left: 75%;
  width: 7.5%;
}
.video__img--gen-2--4 {
  top: calc(8.333333333333334vw - 0.833333333333333vw);
  left: 75%;
  width: 12.5%;
}
.video__img--gen-2--5 {
  right: 0;
  width: 12.5%;
}
.video__img--gen-3--0 {
  top: 0.625vw;
  left: 75%;
  width: 7.5%;
}
.video__img--gen-3--1 {
  top: calc(8.333333333333334vw - 0.833333333333333vw);
  left: 75%;
  width: 12.5%;
}
.video__img--gen-3--2 {
  right: 0;
  width: 12.5%;
}
.video__img--gen-3--3 {
  top: 0.3125vw;
  left: 87.5%;
  width: 3.75%;
}
.video__img--gen-3--4 {
  top: calc(4.166666666666667vw - 0.416666666666667vw);
  left: 87.5%;
  width: 6.25%;
}
.video__img--gen-3--5 {
  right: 0;
  width: 6.25%;
}
.video__img--gen-4--0 {
  top: 0.3125vw;
  left: 87.5%;
  width: 3.75%;
}
.video__img--gen-4--1 {
  top: calc(4.166666666666667vw - 0.416666666666667vw);
  left: 87.5%;
  width: 6.25%;
}
.video__img--gen-4--2 {
  right: 0;
  width: 6.25%;
}
.video__img--gen-4--3 {
  top: 0.15625vw;
  left: 93.75%;
  width: 1.875%;
}
.video__img--gen-4--4 {
  top: calc(2.083333333333333vw - 0.208333333333333vw);
  left: 93.75%;
  width: 3.125%;
}
.video__img--gen-4--5 {
  right: 0;
  width: 3.125%;
}
.video__img--gen-5--0 {
  top: 0.15625vw;
  left: 93.75%;
  width: 1.875%;
}
.video__img--gen-5--1 {
  top: calc(2.083333333333333vw - 0.208333333333333vw);
  left: 93.75%;
  width: 3.125%;
}
.video__img--gen-5--2 {
  right: 0;
  width: 3.125%;
}
.video__img--gen-5--3 {
  top: 0.078125vw;
  left: 96.875%;
  width: 0.9375%;
}
.video__img--gen-5--4 {
  top: calc(1.041666666666667vw - 0.104166666666667vw);
  left: 96.875%;
  width: 1.5625%;
}
.video__img--gen-5--5 {
  right: 0;
  width: 1.5625%;
}
.video__img--gen-6--0 {
  top: 0.078125vw;
  left: 96.875%;
  width: 0.9375%;
}
.video__img--gen-6--1 {
  top: calc(1.041666666666667vw - 0.104166666666667vw);
  left: 96.875%;
  width: 1.5625%;
}
.video__img--gen-6--2 {
  right: 0;
  width: 1.5625%;
}
.video__img--gen-6--3 {
  top: 0.0390625vw;
  left: 98.4375%;
  width: 0.46875%;
}
.video__img--gen-6--4 {
  top: calc(0.520833333333333vw - 0.052083333333333vw);
  left: 98.4375%;
  width: 0.78125%;
}
.video__img--gen-6--5 {
  right: 0;
  width: 0.78125%;
}
.video__img--gen-7--0 {
  top: 0.0390625vw;
  left: 98.4375%;
  width: 0.46875%;
}
.video__img--gen-7--1 {
  top: calc(0.520833333333333vw - 0.052083333333333vw);
  left: 98.4375%;
  width: 0.78125%;
}
.video__img--gen-7--2 {
  right: 0;
  width: 0.78125%;
}
.video__img--gen-7--3 {
  top: 0.01953125vw;
  left: 99.21875%;
  width: 0.234375%;
}
.video__img--gen-7--4 {
  top: calc(0.260416666666667vw - 0.026041666666667vw);
  left: 99.21875%;
  width: 0.390625%;
}
.video__img--gen-7--5 {
  right: 0;
  width: 0.390625%;
}
.video__img--gen-8--0 {
  top: 0.01953125vw;
  left: 99.21875%;
  width: 0.234375%;
}
.video__img--gen-8--1 {
  top: calc(0.260416666666667vw - 0.026041666666667vw);
  left: 99.21875%;
  width: 0.390625%;
}
.video__img--gen-8--2 {
  right: 0;
  width: 0.390625%;
}
.video__img--gen-8--3 {
  top: 0.009765625vw;
  left: 99.609375%;
  width: 0.1171875%;
}
.video__img--gen-8--4 {
  top: calc(0.130208333333333vw - 0.013020833333333vw);
  left: 99.609375%;
  width: 0.1953125%;
}
.video__img--gen-8--5 {
  right: 0;
  width: 0.1953125%;
}
.branding {
  background: #fff;
  padding: 1rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: -0.1rem;
  width: 100%;
  z-index: 1;
}
.logo {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 200px;
}
.logo__bg {
  background: linear-gradient(to left, #027d15, #027d15 20%, #f0c000 40%, #f0c000 60%, #d00000 80%, #d00000);
  position: absolute;
  top: 0;
  right: 0;
  width: 150rem;
  height: 100%;
}
.logo__img {
  position: relative;
  top: 0;
  left: 0;
}
.logo__border {
  border: 0.05rem solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.main {
  background: #fff;
  position: relative;
  text-align: center;
}
.content__center {
  margin: 0 auto;
  max-width: 100rem;
}
.content__fixed {
  padding-top: 1rem;
}
.content__slider {
  padding: 5rem 0;
}
@media all and (max-width: 1024px) {
  .content__slider {
    margin: 0 1.2rem;
  }
}
.content__fixed + .content__slider {
  padding: 0 0 4rem;
}
.link-github {
  display: flex;
  justify-content: center;
  line-height: 2.8rem;
}
.link-github__anchor {
  display: block;
}
.link-github__anchor:hover + .link-github__anchor--arrow,
.link-github__anchor--arrow:hover {
  font-size: 2.2rem;
}
.link-github__anchor--arrow {
  font-size: 2rem;
  padding-left: 1rem;
  width: 3.2rem;
}
.bottom {
  background: #fff;
  padding-top: calc(100vh - 8rem - 200px - 1rem - 1rem);
  position: relative;
}
.footer {
  background: #000;
  color: #fff;
  padding: 3rem 0;
  text-align: center;
  width: 100%;
}
html.es6-modules-enabled .browser-advice {
  display: none;
}
html.es6-modules-enabled .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
html.es6-modules-enabled .content__slider {
  opacity: 0;
  transform: translateY(5rem);
  transition: opacity 0.5s, transform 0.5s;
}
html.es6-modules-enabled .content__slid {
  opacity: 1;
  transform: translateY(0);
}
html.ms-edge .video,
html.ms-edge .branding {
  position: static;
}
