<h3 id="templater"><a id="templater"></a>Templater</h3><p>Fepper&#39;s <a href="https://www.npmjs.com/package/feplet" target="_blank">Feplet</a> 
(.mustache) templates can be translated into templates compatible with your 
backend. Feplet tags just need to be replaced with tags the backend can use. 
Put these translations into YAML (.yml) files named similarly to the .mustache 
files in <code>source/_patterns/03-templates</code>. Follow 
<a href="https://github.com/electric-eloquence/fepper-drupal/blob/dev/source/_patterns/03-templates/page.yml" target="_blank">
this example</a> for the correct YAML syntax. </p><p>Follow these rules for setting up keys and values:</p><ul>
<li>Delete the Feplet curly braces for keys.</li>
<li>Trim any exterior whitespace.</li>
<li>Leave other control structures and spaces within the key, e.g. !#/&gt;^</li>
<li>Wrap the key in single quotes.</li>
<li>Follow the closing quote with a colon, space, pipe, the numeral 2, and a 
newline <code>: |2</code></li>
<li>Indent each line of the value by at least two spaces.</li>
</ul><p>Run <code>fp syncback</code> or <code>fp template</code>. </p><ul>
<li>Be sure that <code>backend.synced_dirs.templates_dir</code> and 
<code>backend.synced_dirs.templates_ext</code> are set in <code>pref.yml</code>. </li>
<li>The default <code>templates_dir</code> and <code>templates_ext</code> settings in <code>pref.yml</code> can be 
overridden by similarly named settings in the template-specific YAML files. </li>
<li>Templates prefixed by &quot;__&quot; will be ignored by the Templater as will files in 
the <code>_nosync</code> directory. </li>
<li>The Templater will recurse through nested Feplet templates if the tags are 
written in the full relative path syntax and have the <code>.mustache</code> extension, 
e.g. <code>&lcub;&lcub;&gt; 02-components/00-global/00-header.mustache &rcub;&rcub;</code> </li>
<li>However, the more common inclusion use-case is to leave off the extension, and 
not recurse.</li>
</ul><p><a href="https://github.com/electric-eloquence/fepper-drupal" target="_blank">
Fepper for Drupal</a> and 
<a href="https://github.com/electric-eloquence/fepper-wordpress" target="_blank">
Fepper for WordPress</a> have working examples of templates compatible with the 
Templater.</p>