<h3 id="install"><a id="install"></a>Install</h3><h4 id="system-requirements">System requirements</h4><ul>
<li>Unix-like or Windows OS.</li>
<li>Minimum supported Node.js version 18.0.0.</li>
</ul><h4 id="simplest-way-to-get-started">Simplest way to get started</h4><ul>
<li>Download the <a href="https://github.com/electric-eloquence/fepper/releases/latest" target="_blank">
latest release</a>.</li>
</ul><h4 id="mac-install">Mac install</h4><ul>
<li>In macOS Finder:<ul>
<li>Double-click <code>fepper.command</code>.</li>
<li>If not already installed, this will install:<ul>
<li>Node.js.</li>
<li><a href="https://www.npmjs.com/package/fepper-cli" target="_blank">fepper-cli</a>, 
which will give you the <code>fp</code> command.</li>
</ul>
</li>
<li>If opening for the first time, macOS may warn that it can&#39;t be opened 
because it is from an unidentified 
developer.&nbsp;<a href="https://gist.github.com/e2tha-e/72364ca766cf5d2d1a732b6af4f3b7a8" target="_blank">*</a><ul>
<li>In this case, ctrl+click <code>fepper.command</code> and click &quot;Open&quot;.</li>
<li>In the following prompt, click &quot;Open&quot; to confirm that you&#39;re sure you 
want to open it.</li>
</ul>
</li>
<li>Enter your password to allow installation.</li>
<li>After installation, Fepper should automatically open in a browser.</li>
<li>Open <a href="http://localhost:3000">http://localhost:3000</a> if it doesn&#39;t open automatically.</li>
</ul>
</li>
</ul><h4 id="cli-install">CLI install</h4><ul>
<li>In Linux and other Unix-like OSs (or if you prefer working on the command 
line):<ul>
<li>Install Node.js if it isn&#39;t already installed.</li>
<li><code>npm install -g fepper-cli</code></li>
<li><code>npm install</code></li>
<li><code>fp</code></li>
</ul>
</li>
</ul><h4 id="windows-install">Windows install</h4><ul>
<li>In File Explorer, double-click 
<code>fepper.vbs</code>.&nbsp;<a href="https://gist.github.com/e2tha-e/72364ca766cf5d2d1a732b6af4f3b7a8" target="_blank">*</a><ul>
<li>If Node.js is not installed, this will install it.</li>
<li>After Node.js installation, double-click <code>fepper.vbs</code> again.<ul>
<li>This will install <a href="https://www.npmjs.com/package/fepper-cli" target="_blank">
fepper-cli</a>, which will give you the <code>fp</code> command.</li>
<li>It will then install and launch Fepper.</li>
</ul>
</li>
</ul>
</li>
</ul><h4 id="base-install">Base install</h4><ul>
<li>Comes with no unnecessary assets, styles, demo website, or 
<a href="https://www.npmjs.com/package/fp-stylus" target="_blank">fp-stylus</a> 
extension.</li>
<li>Node.js must be installed beforehand.</li>
<li><code>npm install -g fepper-cli</code></li>
<li><code>npm run install-base</code></li>
<li><code>fp</code></li>
</ul><h4 id="post-install">Post-install</h4><ul>
<li>To stop Fepper, go to the command line where Fepper is running and press 
ctrl+c.</li>
</ul>