<h3 id="html-scraper"><a id="html-scraper"></a>HTML Scraper</h3><p>Fepper can scrape and import the HTML of any valid web page into a reusable 
pattern. A common use-case is to scrape pages from a backend populated with CMS 
content in order to auto-generate data files, and to replicate the CMS&#39;s HTML 
structure. To open the Scraper, click Scrape in the Fepper UI, and then click 
HTML Scraper. Enter the URL of the page you wish to scrape. Then, enter the CSS 
selector you wish to target (prepended with &quot;#&quot; for IDs and &quot;.&quot; for classes). 
Classnames and tagnames may be appended with array index notation (<code>[n]</code>). 
Otherwise, the Scraper will scrape all elements of that class or tag 
sequentially. Such a loosely targeted scrape will save many of the targeted 
fields to a JSON file, but will only save the first instance of the target to a 
Feplet (.mustache) file.</p><p>Upon submission, you should be able to review the scraped output on the 
subsequent page. If the output looks correct, enter a filename and submit again. 
The Scraper will save .mustache and .json files by that name in the 98-scrape 
directory, also viewable under the Scrape menu of the toolbar. The Scraper will 
also correctly indent the Feplet code.</p>