<h3>Query String Variables</h3>
<h4>Loading Specific Patterns</h4>
<p>The query string to directly load a pattern follows the format of <code>p=patternType-patternName</code>. For example, if you wanted to link to the <code>templates-article</code> pattern, add the following after the hostname and port in the URL:</p>
<pre><code>/?p=templates-article</code></pre>
<h4>Setting the Viewport Width</h4>
<p>You can load a specific viewport width by using the <code>w</code> query string variable. For example, to set the viewport width to 320px/20em:</p>
<pre><code>/?w=320
/?w=320px
/?w=20em</code></pre>
<p>It works in conjuction with the <code>p</code> query string variable as follows:</p>
<pre><code>/?p=templates-article&amp;w=400px</code></pre>
<h4>Opening the Annotations Viewer</h4>
<p>These will load the page with the Annotations Viewer open:</p>
<pre><code>/?view=annotations
/?view=a</code></pre>
<p>You can also have the Annotations Viewer scroll to a particular item by adding the query string variable <code>number</code>. To scroll to the fifth annotation, enter the following:</p>
<pre><code>/?view=annotations&amp;number=5</code></pre>
<h4>Opening the Code Viewer</h4>
<p>These will load the page with the Code Viewer open:</p>
<pre><code>/?view=code
/?view=c</code></pre>
<h4>Load Page in Grow Mode</h4>
<p>These will load the page in Grow mode:</p>
<pre><code>/?grow=true
/?g=true</code></pre>
<p>Click the <code>Grow</code> button or a preset viewport size to exit Grow mode. You can also just wait for Grow mode to finish.</p>
