<h3>Live Reload Changes</h3>
<p>Manually building Fepper and refreshing the browser after each change can be cumbersome. The <a href="{{ link.pages-docpage-run }}"><code>fp</code></a> and <a href="{{ link.pages-docpage-run }}"><code>fp restart</code></a> tasks will launch Fepper with <a href="https://www.npmjs.com/package/gulp-livereload" target="_blank">LiveReload</a> to automatically detect file changes and render those changes in the browser.</p>
<p>LiveReload watches for changes in these directories:</p>
<ul>
  <li><code>source/_annotations</code></li>
  <li><code>source/_data</code></li>
  <li><code>source/_patterns</code></li>
  <li><code>source/_scripts</code></li>
  <li><code>source/_styles</code></li>
</ul>
<p>In macOS and other Unix-like operating systems:</p>
<ul>
  <li><code>source/_assets</code></li>
</ul>
<h4>How to Stop the Server</h4>
<p>To stop watching and serving files, press ctrl+c on the command line where Fepper is running.</p>
