<h3 id="the-backend"><a id="the-backend"></a>The Backend</h3><p>Fepper can very easily work with a CMS backend such as Drupal or WordPress, 
while not requiring Apache, MySQL, or PHP. Put the actual backend codebase or 
even just a symbolic link to the codebase into the <code>backend</code> directory. Then, 
enter the relative paths to the appropriate backend directories in <code>pref.yml</code>. 
(Do not include &quot;backend&quot; or a leading slash.) You will then be able to run 
<code>fp syncback</code> or <code>fp frontend-copy</code> to export your frontend data into your 
backend web application.</p><ul>
<li>Be sure that <code>backend.synced_dirs.assets_dir</code>, 
<code>backend.synced_dirs.scripts_dir</code>, and <code>backend.synced_dirs.styles_dir</code> are 
set in <code>pref.yml</code>. </li>
<li>The above values set in <code>pref.yml</code> can be overridden on a per-file basis by 
similarly named YAML files with similarly named settings. <ul>
<li>These YAML files must match the source file&#39;s name with the exception of the 
extension. </li>
<li>The extension must be <code>.yml</code></li>
<li>The overriding property must only contain the lowest level key:value, not 
the entire hierarchy, e.g. only <code>assets_dir</code>, not 
<code>backend.synced_dirs.assets_dir</code>. </li>
</ul>
</li>
<li>Asset, script, and style files prefixed by &quot;__&quot; will be ignored by 
<code>fp syncback</code> and <code>fp frontend-copy</code>, as will files in the <code>_nosync</code> 
directory at the root of the source directories. </li>
</ul>