<h3 id="i18n"><a id="i18n"></a>I18N</h3><p>The Elements, Compounds, and Components directories are optional and can be 
renamed to anything your charset and file system allow without further 
configuration, so long as there are no collisions with other names. The 
Templates, Pages, and Scrape directories allow for similar renaming but they 
must be configured in <code>patternlab-config.json</code>.</p><p>The text in the UI, as well as console messages, can be changed by editing 
<code>source/_ui/i18n/en.json</code>. Replace the blank values with alternate English 
values if you wish. If you want translation to another language, create a new 
file named by the abbreviation for the language. For example: 
<code>source/_ui/i18n/es.json</code> for Spanish. Then, assign that abbreviation to the 
<code>lang</code> key in <code>pref.yml</code>. In the .json file, assign the translated values to the 
English keys.</p><p>Fepper follows a popular convention of naming the translation function <code>t</code>. (See 
<a href="https://github.com/i18next/i18next" target="_blank">i18next</a> and 
<a href="https://github.com/i18next/react-i18next" target="_blank">react-i18next</a> 
as other examples.) Be sure never to redefine the <code>global.t</code> variable.</p><p>If a need arises for documentation in other languages, you are strongly 
encouraged to make the translations, and use the options that Open Source offers 
to distribute them to the rest of the world.</p>