<h3 id="mobile-devices"><a id="mobile-devices"></a>Mobile Devices</h3><p>The best way to browse the Fepper UI on a mobile device is through the wireless 
connection on your development machine. These are the instructions for doing 
this on a Mac:</p><p>If your Mac is connected to the Internet wirelessly:</p><ul>
<li>Open System Preferences</li>
<li>Click Network</li>
<li>In the left pane, select Wi-Fi</li>
<li>In the right pane, underneath Status, the IP address will be displayed</li>
<li>On your mobile device, connect to the same wireless network that your Mac is 
connected to</li>
<li>Browse http:&#x2F;&#x2F;[IP address]:3000</li>
<li>Change the port number if Fepper is listening on a different port</li>
</ul><p>If your Mac is connected to the Internet through a wire:</p><ul>
<li>In the top menu bar, turn Wi-Fi off</li>
<li>Open System Preferences</li>
<li>Click Sharing</li>
<li>In the left pane, select Internet Sharing</li>
<li>In the right pane, on &quot;Share your connection from:&quot;, select the interface 
which is connected to the Internet</li>
<li>On &quot;To computers using:&quot;, check Wi-Fi</li>
<li>Click &quot;Wi-Fi Options...&quot;</li>
<li>This will show your Mac&#39;s name as the wireless network name</li>
<li>Add security if you are in a public space</li>
<li>Click OK</li>
<li>Back in the System Preferences main window, in the left pane, check to 
activate Internet Sharing</li>
<li>In the dialog that appears, click &quot;Turn Wi-Fi On&quot;</li>
<li>In the next dialog, click Start</li>
<li>The Wi-Fi icon in the top menu bar should now be gray with a white up-arrow</li>
<li>Back in the System Preferences main window, click Network</li>
<li>In the left pane, select your wired connection</li>
<li>In the right pane, underneath Status, the IP address will be displayed</li>
<li>On your mobile device, connect to the wireless network that is the same name 
as your Mac</li>
<li>Browse http:&#x2F;&#x2F;[IP address]:3000</li>
<li>Change the port number if Fepper is listening on a different port</li>
</ul>