<h3>Global Head and Foot</h3>
<p>The following files define the HTML head and foot for all patterns:</p>
<ul>
  <li><code>source/_meta/_00-head.mustache</code></li>
  <li><code>source/_meta/_01-foot.mustache</code></li>
</ul>
<p>You are free to edit these files, but...</p>
<h4>Do not remove either of these lines:</h4>
<p></p>
<ul>
  <li><code>&lcub;&lcub;&lcub; patternlabHead &rcub;&rcub;&rcub;</code></li>
  <li><code>&lcub;&lcub;&lcub; patternlabFoot &rcub;&rcub;&rcub;</code></li>
</ul>
<p>Fepper needs these to work.</p>
<p>Otherwise, to see edits to the global head or foot, restart or manually build Fepper. Then, refresh your browser.</p>
