<h3>Pattern States</h3>
<p>Pattern states provide your team and client a simple visual of the current state of patterns in Fepper. Pattern states can track progress of a pattern from development, through client review, to completion. They can also be customized to refer to additional states. They are denoted by colored dots in the UI menu, <a href="{{ link.pages-mustache-browser }}">Code Viewer</a>, and View Alls.</p>
<h4>Default Pattern States</h4>
<p></p>
<ul>
  <li><code>inprogress</code>: the pattern is in development, denoted by a red dot.</li>
  <li><code>inreview</code>: the pattern is being reviewed for acceptance, denoted by a yellow dot.</li>
  <li><code>complete</code>: the pattern is ready for production, denoted by a green dot.</li>
</ul>
<h4>Setting a Pattern State</h4>
<p>Setting a pattern's state is accomplished by writing a <code>state</code> key and value in the pattern's <code>.md</code> file (or whatever is configured in <code>patternlab-config.json</code> as <code>frontMatterExtension</code>). Consider this pattern:</p>
<pre><code>source/_patterns/compounds/blocks/media-block.mustache</code></pre>
<p>Create or edit a file in the same location named <code>media-block.md</code>:</p>
<pre><code>---
state: inreview
---
</code></pre>
<p>The <code>state</code> key/value can be mixed with other key/values like so:</p>
<pre><code>---
state: inreview
content_key: content
---
Content is key
</code></pre>
<h4>Setting a Pseudo-Pattern State</h4>
<p>To set a <a href="{{ link.pages-pseudo-patterns }}">pseudo-pattern's</a> state, create a similarly named file with the <code>.md</code> extension (or <code>frontMatterExtension</code>).</p>
<p>For example, to for the following pseudo-pattern:</p>
<pre><code>00-elements/button/button~red.json</code></pre>
<p>Name the file:</p>
<pre><code>00-elements/button/button~red.md</code></pre>
<h4>Adding Customized States</h4>
<p>The three default states might not be enough for everyone. To add customized states, modify <code>source/_styles/pattern-scaffolding.css</code>, a Fepper-specific stylesheet that is editable by end-users. You can use the following as your CSS template for new pattern states:</p>
<pre><code>.newpatternstate:before {
  color: #998866 !important;
}</code></pre>
<p>Add <code>state: newpatternstate</code> to your pattern's <code>.md</code> file to have the new pattern state show in the UI menu and Code Viewer.</p>
