<h3 id="code-viewer"><a id="code-viewer"></a>Code Viewer</h3><p><a href="https://www.npmjs.com/package/feplet" target="_blank">Feplet</a> 
(.mustache) code can be viewed in the Fepper UI by clicking the eyeball icon in 
the upper right and then clicking Code. The Code Viewer will then be opened, 
displaying the Feplet code of the pattern, and the partials tags within will be 
hot-linked to open their respective patterns in the main panel of the Fepper UI. </p><p>If the pattern has an associated <code>.md</code> file, its Markdown code can be viewed by 
clicking the &quot;Markdown&quot; tab. In order for the Code Viewer to allow edits to the 
Markdown, Fepper must be LiveReloading correctly. In most cases, LiveReload 
will just work out-of-the-box.</p><p>If the project was set up with Git, the Markdown edits can be version controlled 
with the Code Viewer&#39;s Git Interface as well.</p><p>Most Developers should be familiar with setting up projects with Git. It is 
beyond the scope of this document to provide much further instruction on Git. 
However, Editors are encouraged to version-control their edits with Git if 
collaborating with others.</p><p>In order to get Editors set up with Git, first make sure Git is installed. Then, 
install <a href="https://github.com/cli/cli#readme" target="_blank">GitHub CLI
</a> (macOS and Windows only). A CLI requires a Terminal app, but Editors will 
generally only need this for setup and background operations. In fact, much of 
the setup can be automated within clickable scripts.</p><p>To proceed, an account must be registered at GitHub&#46;com, and GitHub CLI 
installed as per the instructions in the previous link. Then, run the following 
in the Terminal:</p><h5 id="macos-and-windows">macOS and Windows:</h5><pre><code>git config --global user.email name@email.address
git config --global user.name &#39;User Name&#39;
gh auth login
</code></pre><p>After issuing the <code>gh auth login</code> command, press Enter to accept each default. 
After accepting to login with a web browser, press Enter to open the 
GitHub&#46;com authentication webpage. Sign in to GitHub if necessary. Then, 
enter the 8-character code from the Terminal. Click to Authorize github. If the 
webpage shows success, return to the Terminal. It should say, &quot;Authentication 
complete. Press Enter to continue...&quot;</p><p>After pressing Enter to exit the prompt, Editors should be able to use the Git 
Interface with no more prompts for authentication.</p><h5 id="linux-and-other-unix-like-oss">Linux and other Unix-like OSs:</h5><p>It is not recommended to use Fepper&#39;s graphical Git Interface in Linux and 
other, more obscure Unix-like OSs. It is not straightforward to authenticate 
with GitHub CLI in such OSs. The technical knowledge required to authenticate 
would be better applied using Git as intended for Developers.</p>