<h3><a id="user-content-keyboard-shortcuts" class="anchor" aria-hidden="true" href="#keyboard-shortcuts"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a><a id="user-content-keyboard-shortcuts"></a>Keyboard Shortcuts</h3><ul>
<li><strong>ctrl+alt+0</strong>: set the viewport to "extra extra small"</li>
<li><strong>ctrl+shift+x</strong>: set the viewport to "extra small"</li>
<li><strong>ctrl+shift+s</strong>: set the viewport to "small"</li>
<li><strong>ctrl+shift+m</strong>: set the viewport to "medium"</li>
<li><strong>ctrl+shift+l</strong>: set the viewport to "large"</li>
<li><strong>ctrl+alt+w</strong>: set the viewport to "whole"</li>
<li><strong>ctrl+alt+r</strong>: set the viewport to a random width</li>
<li><strong>ctrl+alt+g</strong>: start/stop "grow" animation</li>
<li><strong>ctrl+shift+a</strong>: open/close Annotations Viewer</li>
<li><strong>ctrl+shift+c</strong>: open/close Code Viewer</li>
<li><strong>ctrl+alt+m</strong>: make the Mustache tab active in Code Viewer</li>
<li><strong>ctrl+alt+h</strong>: make the HTML tab active in Code Viewer</li>
<li><strong>ctrl+shift+f</strong>: open/close the pattern search</li>
</ul><p>As a reminder, the viewport sizes can be customized in <code>source/_scripts/src/variables.styl</code>.</p>