<h3 id="requerio-inspector"><a id="requerio-inspector"></a>Requerio Inspector</h3><p>The Code Viewer also has a Requerio Inspector. 
<a href="https://github.com/electric-eloquence/requerio#readme" target="_blank">
Requerio</a> is a tool you can use to manage the state of your web application. 
HTML elements given state are referred to as &quot;organisms&quot;. In order to view their 
states, Requerio and its organisms need to be initialized as per the 
<a href="https://github.com/electric-eloquence/requerio#readme" target="_blank">
Requerio docs</a>. It is necessary to define <code>window.requerio</code> in order for the 
Requerio Inspector to work, as per the following code example:</p><pre><code>const requerio = window.requerio = new Requerio($, Redux, $organisms);
</code></pre><p>A properly working Requerio app will then have its organisms and their states 
show up in the Requerio Inspector like an expandable menu, the state tree. 
Hovering over the state tree should highlight the organism being inspected. (It 
may be necessary to give the organisms a CSS background-color in order for the 
highlighting to work.) The display of the states will update in real-time, 
should there be any changes to the organisms. You can even dispatch changes 
(&quot;actions&quot;) to the organisms via your browser&#39;s Developer Tools:</p><ul>
<li>Use your cursor to inspect the Requerio organism you wish to dispatch actions 
on.</li>
<li>This should open the Inspector or Elements tab of the Developer Tools.</li>
<li>Click the adjacent tab to open the Console of the Developer Tools.</li>
<li>Enter the following example in the Console:</li>
<li><code>requerio.$orgs[&#39;#nav&#39;].dispatchAction(&#39;css&#39;, {backgroundColor: &#39;green&#39;})</code></li>
<li>If not on the default demo site, or if the <code>#nav</code> element doesn&#39;t exist, replace 
<code>#nav</code> with your own selector, and the arguments with your own arguments.</li>
<li>The state change should show up in the Requerio Inspector.</li>
<li><a href="https://github.com/electric-eloquence/requerio/blob/dev/docs/methods.md" target="_blank">
Action methods and their arguments</a>.</li>
</ul>