<h3 id="express-app"><a id="express-app"></a>Express App</h3><p>Fepper exposes its <a href="https://expressjs.com/" target="_blank">Express</a> 
application through the <code>global.expressApp</code> object. This object can be 
overridden with custom routes and middleware via the <code>custom:tcp-ip</code> (or 
<code>contrib:tcp-ip</code>) extension task. Initialization of <code>global.expressApp</code> occurs 
before this task, and listening occurs afterward.</p><p><code>global.expressApp</code> is a direct reference to <code>global.fepper.tcpIp.fpExpress.app</code>.</p>