<h3>Edit</h3>
<p>When editing files, be sure to only edit files in the <code>source</code> directory. This includes static files like JavaScript, CSS, and images. Your patterns will be built to, and static files copied to, the <code>public</code> directory. Because of this, you <strong>should not edit</strong> files in the <code>public</code> directory.</p>
<h4>Source Directories</h4>
<p>Declared in <code>patternlab-config.json</code>. You can change the names therein, but the functionality will remain as follows:</p>
<ul>
  <li><code>_annotations</code> - for annotating patterns.</li>
  <li><code>_styles/src</code> - for preprocessing CSS.</li>
  <li><code>_styles/bld</code> - actual CSS.</li>
  <li><code>_styles/bld/fonts</code> - for fonts beyond the usual system fonts.</li>
  <li><code>_data</code> - global data for hydrating patterns.</li>
  <li><code>_assets/src</code> - images or videos.</li>
  <li><code>_assets/bld</code> - in case images or videos get processed, i.e. resized, filtered, etc.</li>
  <li><code>_scripts/src</code> - scripts before any processing.</li>
  <li><code>_scripts/bld</code> - scripts after any processing, i.e. transpilation, minification, etc.</li>
  <li><code>_meta</code> - the HTML head and foot for built patterns.</li>
  <li><code>_patterns/03-templates</code> - the templater looks here for templates to compile to the backend.</li>
  <li><code>_patterns/04-pages</code> - the static generator looks here for pages with which to generate a static site.</li>
  <li><code>_patterns/98-scrape</code> - an HTML scraper.</li>
  <li><code>_static</code> - where the static generator outputs the static site; files can be added here as necessary.</li>
  <li><code>_ui</code> - for custom UI components.</li>
</ul>
<h4>Watching for Source File Changes</h4>
<p>Manually building Fepper and refreshing the browser after each change can be cumbersome. The <code>fp</code> and <code>fp restart</code> tasks will launch Fepper with <a href="https://www.npmjs.com/package/gulp-livereload" target="_blank">LiveReload</a> to automatically detect file changes and render those changes in the browser.</p>
