<h3 id="run"><a id="run"></a>Run</h3><ul>
<li>To launch from macOS Finder:<ul>
<li>Double-click <code>fepper.command</code>.</li>
</ul>
</li>
<li>To launch from Windows File Explorer:<ul>
<li>Double-click <code>fepper.vbs</code>.</li>
</ul>
</li>
<li>To launch from the command line:<ul>
<li><code>fp</code></li>
</ul>
</li>
<li>Consult the <a href="https://fepper.io/docpage" target="_blank">
Fepper website</a> for documentation.</li>
<li>Start editing files in <code>source</code>. Changes should automatically appear in the 
browser.</li>
<li>To stop Fepper, press ctrl+c.</li>
<li>These other utility tasks are runnable on the command line:<ul>
<li><code>fp data</code> - Build data.json from underscore-prefixed .json files</li>
<li><code>fp frontend-copy</code> - Copy assets, scripts, and styles to the backend</li>
<li><code>fp help</code> - Print documentation of Fepper tasks</li>
<li><code>fp once</code> - Output a new build to the public directory</li>
<li><code>fp restart</code> - Restart after shutdown, but without opening the browser</li>
<li><code>fp static</code> - Generate a static site from the 04-pages directory</li>
<li><code>fp syncback</code> - Combine frontend-copy and template tasks</li>
<li><code>fp template</code> - Translate templates in 03-templates for the backend, and 
output them there</li>
<li><code>fp ui:help</code> - Print UI tasks and their descriptions</li>
<li><code>fp update</code> - Update Fepper distro, Fepper CLI, Fepper NPM, Fepper UI, and 
Fepper extensions</li>
<li><code>fp version</code> - Print the versions of Fepper CLI, Fepper NPM, and Fepper UI</li>
<li><code>fp extend:help</code> - Print extension tasks and their descriptions</li>
</ul>
</li>
<li>Enter a <code>-d</code> or <code>--debug</code> switch to run the command in <code>debug</code> mode.</li>
<li>If using Git for version control, directories named &quot;ignore&quot; will be ignored.</li>
</ul>