<h3 id="global-data"><a id="global-data"></a>Global Data</h3><p>Edit <code>source/_data/_data.json</code> to globally populate 
<a href="https://www.npmjs.com/package/feplet" target="_blank">Feplet</a> 
(.mustache) templates with data. <em>Never</em> edit <code>source/_data/data.json</code> as it 
will get overwritten on each build.</p>