<h3 id="webserved-directories"><a id="webserved-directories"></a>Webserved Directories</h3><p>When using a backend, assets generally need to be shared with the Fepper 
frontend. The <code>syncback</code> and <code>frontend-copy</code> tasks copy files from Fepper to the 
backend, but not the other way. Instead of providing a task to copy in the 
reverse direction, Fepper serves backend files if their directories are entered 
into the <code>webserved_dirs</code> block in <code>pref.yml</code>. Be sure these values are 
formatted as YAML array elements.</p><blockquote>
<p>WEBSERVED DIRECTORIES ARE FOR STATIC ASSETS ONLY! DO NOT WEBSERVE DIRECTORIES 
  WITH BACKEND SOURCE CODE! NO BACKEND PROGRAMMING LANGUAGE WILL GET 
  PREPROCESSED! IF A STATIC SITE IS GENERATED, OR THE EXPRESS APP PUBLICLY 
  SERVED, SOURCE CODE WILL BE RENDERED AS PLAIN TEXT! THIS WILL MAKE PUBLIC ANY 
  SENSITIVE INFORMATION CONTAINED WITHIN!</p>
</blockquote>