<h3 id="configure"><a id="configure"></a>Configure</h3><p>Fepper will run perfectly well out-of-the-box with default configurations. For 
further customization, power-users can edit these files:</p><ul>
<li>conf.yml</li>
<li>pref.yml</li>
<li>patternlab-config.json</li>
</ul><p>Edit <code>conf.yml</code> to suit the needs of your development environment. If using Git, 
<code>conf.yml</code> will not be version controlled by default.</p><p>Edit <code>pref.yml</code> to customize Fepper preferences. If you wish to use the 
<code>fp syncback</code>, <code>fp frontend-copy</code>, or <code>fp template</code> tasks, you must supply 
values for the <code>backend.synced_dirs</code> preferences in order for those directories 
to get processed and copied to the backend.</p><p>Edit <code>patternlab-config.json</code> to configure Pattern Lab, the design system behind 
the Fepper UI.</p>