<h3>Edit</h3>
<p>When editing files, be sure to only edit files in the <code>source</code> directory. Your patterns will be built to, and static files copied to, the <code>public</code> directory. Because of this, you <strong>should not edit</strong> files in the <code>public</code> directory.</p>
<h4>Source Directories</h4>
<p>Declared in <code>patternlab-config.json</code>. You can change the names therein, but the functionality will remain as follows:</p>
<ul>
  <li><code>_annotations</code> - global <a href="{{ link.pages-annotating-patterns }}">annotations to patterns</a>.</li>
  <li><code>_styles/src</code> - CSS preprocessor, e.g. Stylus, Sass, Less.</li>
  <li><code>_styles/bld</code> - CSS goes here (or gets built here).</li>
  <li><code>_styles/bld/fonts</code> - fonts beyond the usual system fonts.</li>
  <li><code>_data</code> - global data for hydrating patterns.</li>
  <li><code>_assets/src</code> - images, videos, etc.</li>
  <li><code>_assets/bld</code> - in case assets get processed, e.g. resized, filtered.</li>
  <li><code>_scripts/src</code> - scripts before any processing.</li>
  <li><code>_scripts/bld</code> - scripts after any processing, e.g. transpilation, minification.</li>
  <li><code>_meta</code> - the HTML head and foot for built patterns.</li>
  <li><code>_patterns/03-templates</code> - where <a href="{{ link.pages-templater }}">the Templater</a> looks for templates to compile to the backend.</li>
  <li><code>_patterns/04-pages</code> - where <a href="{{ link.pages-static-site-generation }}">the Static Site Generator</a> looks for pages with which to generate a static site.</li>
  <li><code>_patterns/98-scrape</code> - <a href="{{ link.pages-html-scraper }}">the HTML Scraper</a>.</li>
  <li><code>_static</code> - where <a href="{{ link.pages-static-site-generation }}">the Static Site Generator</a> outputs the static site; additional files can be put here as necessary.</li>
  <li><code>_ui</code> - <a href="{{ link.pages-ui-customization }}">custom UI components</a>.</li>
</ul>
<h4>Watching for Source File Changes</h4>
<p>Manually building Fepper and refreshing the browser after each change can be cumbersome. The <a href="{{ link.pages-run }}"><code>fp</code></a> and <a href="{{ link.pages-run }}"><code>fp restart</code></a> tasks will launch Fepper with <a href="https://www.npmjs.com/package/livereload-js" target="_blank">LiveReload</a> to automatically detect file changes and render those changes in the browser.</p>
<p>LiveReload watches for changes in these directories:</p>
<ul>
  <li><code>source/_annotations</code></li>
  <li><code>source/_data</code></li>
  <li><code>source/_patterns</code></li>
  <li><code>source/_scripts</code></li>
  <li><code>source/_styles</code></li>
</ul>
<p>In macOS, Linux, and other Unix-like operating systems:</p>
<ul>
  <li><code>source/_assets</code></li>
</ul>
<h4>How to Stop the Server</h4>
<p>To stop serving and watching files, press ctrl+c on the command line where Fepper is running.</p>
