<h3 id="markdown-content"><a id="markdown-content"></a>Markdown Content</h3><p>Fepper provides the convenience of managing content in 
<a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">
Markdown</a>. To do so, create an <code>.md</code> file of the same name as the pattern. 
Edit this file in Front Matter syntax like so:</p><h5 id="examplemd">example.md:</h5><pre><code>---
content_key: content
---
# Heading

Body</code></pre><p>Front Matter comprises YAML between the <code>---</code> lines and Markdown below. It 
doesn&#39;t appear to have a unified spec, so searches for documentation will 
probably just list various implementations. In any case, <code>content_key</code> can be 
any valid whitespace-free string. Use it to identify its corresponding tag in 
the <code>.mustache</code> file like so:</p><h5 id="examplemustache">example.mustache:</h5><pre><code>&lt;main id=&quot;content&quot;&gt;
  &lcub;&lcub;{ content &rcub;&rcub;}
&lt;/main&gt;</code></pre><p>When creating <code>.md</code> files for pseudo-patterns, replace the <code>.json</code> extension 
similarly.</p>