<h3 id="keyboard-shortcuts"><a id="keyboard-shortcuts"></a>Keyboard Shortcuts</h3><ul>
<li><strong>ctrl+alt+0</strong>: set the viewport to &quot;extra extra small&quot;</li>
<li><strong>ctrl+shift+x</strong>: set the viewport to &quot;extra small&quot;</li>
<li><strong>ctrl+shift+s</strong>: set the viewport to &quot;small&quot;</li>
<li><strong>ctrl+shift+m</strong>: set the viewport to &quot;medium&quot;</li>
<li><strong>ctrl+shift+l</strong>: set the viewport to &quot;large&quot;</li>
<li><strong>ctrl+alt+w</strong>: set the viewport to &quot;whole&quot;</li>
<li><strong>ctrl+alt+r</strong>: set the viewport to a random width</li>
<li><strong>ctrl+alt+g</strong>: start/stop &quot;grow&quot; animation</li>
<li><strong>ctrl+shift+a</strong>: open/close Annotations Viewer</li>
<li><strong>ctrl+shift+c</strong>: open/close Code Viewer</li>
<li><strong>ctrl+shift+]</strong>: select next tab/panel in Code Viewer</li>
<li><strong>ctrl+shift+[</strong>: select previous tab/panel in Code Viewer</li>
<li><strong>ctrl+alt+h</strong>: dock Code Viewer to the left</li>
<li><strong>ctrl+alt+j</strong>: dock Code Viewer to the bottom</li>
<li><strong>ctrl+alt+l</strong>: dock Code Viewer to the right</li>
<li><strong>ctrl+shift+f</strong>: open/close the Pattern Search</li>
</ul><p>As a reminder, the viewport sizes can be customized in <code>source/_scripts/src/variables.styl</code>.</p>