// Colors
$green-fepper = #027d15
$red-fepper = #d00000
$yellow-fepper = #f0c000

// Typography
$font = "Fira Sans", sans-serif

// Spacing
$space = 1.6rem
$space-and-half = $space * 1.5
$space-double = $space * 2
$space-triple = $space * 3
$space-quad = $space * 4
$space-half = $space / 2
$space-quarter = $space / 4

// Breakpoints
$bp-xx-max = unit(bp_xx_max, px) // From source/_scripts/src/variables.styl
$bp-xs-max = unit(bp_xs_max, px) // From source/_scripts/src/variables.styl
$bp-small = $bp-xs-max + 1px
$bp-sm-max = unit(bp_sm_max, px) // From source/_scripts/src/variables.styl
$bp-med = $bp-sm-max + 1px
$bp-md-max = unit(bp_md_max, px) // From source/_scripts/src/variables.styl
