// Colors
$black-less-contrast = #333
$green = rgb(fepper_green_r, fepper_green_g, fepper_green_b)
$red = rgb(fepper_red_r, fepper_red_g, fepper_red_b)
$yellow = rgb(fepper_yellow_r, fepper_yellow_g, fepper_yellow_b)

// Typography
$font = "Fira Sans", sans-serif

// Spacing
$content-width-max = 100rem
$space = 1.6rem
$space-and-half = $space * 1.5
$space-double = $space * 2
$space-triple = $space * 3
$space-x-6 = $space * 6
$space-quad = $space * 4
$space-half = $space / 2
$space-quarter = $space / 4

// Breakpoints
$bp-xx-max = unit(bp_xx_max, px) // From source/_scripts/src/variables.styl
$bp-xs-max = unit(bp_xs_max, px) // From source/_scripts/src/variables.styl
$bp-small = $bp-xs-max + 1px
$bp-sm-max = unit(bp_sm_max, px) // From source/_scripts/src/variables.styl
$bp-med = $bp-sm-max + 1px
$bp-md-max = unit(bp_md_max, px) // From source/_scripts/src/variables.styl
