// Colors
$black-less-contrast = #363636
$green = rgb(fepper_green_r, fepper_green_g, fepper_green_b)
$red = rgb(fepper_red_r, fepper_red_g, fepper_red_b)
$yellow = rgb(fepper_yellow_r, fepper_yellow_g, fepper_yellow_b)

// Typography
$font = "Fira Sans", sans-serif

// Layout
$max-width = 1152px // Use px since this is used in a media query

// Breakpoints
$bp-xx-max = unit(bp_xx_max, px) // From source/_scripts/src/variables.styl - 320px
$bp-xs-max = unit(bp_xs_max, px) // From source/_scripts/src/variables.styl - 480px
$bp-small = $bp-xs-max + 1px     //                                         - 481px
$bp-sm-max = unit(bp_sm_max, px) // From source/_scripts/src/variables.styl - 767px
$bp-med = $bp-sm-max + 1px       //                                         - 768px
$bp-md-max = unit(bp_md_max, px) // From source/_scripts/src/variables.styl - 1024px

// Measurements
$bottom-height = 8.4rem
$bp-sm-ratio = 0.75
$branding-pad = unit(branding_pad, 'rem')
$h1-font-size = 1em
$item-last-offset = unit(item_last_offset, 'rem')
$logo-bg-width = unit(logo_width, 'rem')
$logo-width = unit(logo_width, 'px') // Need px measurement to work around min font-size zoom-out bug in Webkit.
$logo-width-small = unit(logo_width * $bp-sm-ratio, 'px') // Need px measurement to work around min font-size zoom-out bug in Webkit.
$logo-height = unit(logo_height, 'px') // Need px measurement to work around min font-size zoom-out bug in Webkit.
$logo-height-small = unit(logo_height * $bp-sm-ratio, 'px') // Need px measurement to work around min font-size zoom-out bug in Webkit.
$nav-main-width-full = 18rem
$nav-main-width-shown = 14rem
