// Font definition files are very large so only enable these as you need them.
/*
@font-face
  font-family: 'Fira Sans'
  font-style: normal
  font-weight: 100
  src: url('fonts/FiraSans/FiraSans-Eight.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: normal
  font-weight: 200
  src: url('fonts/FiraSans/FiraSans-Thin.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: normal
  font-weight: 300
  src: url('fonts/FiraSans/FiraSans-ExtraLight.otf') format('opentype')
*/
@font-face
  font-family: 'Fira Sans'
  font-style: normal
  font-weight: 400
  src: url('fonts/FiraSans/FiraSans-Book.otf') format('opentype')
/*
@font-face
  font-family: 'Fira Sans'
  font-style: normal
  font-weight: 500
  src: url('fonts/FiraSans/FiraSans-Regular.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: normal
  font-weight: 600
  src: url('fonts/FiraSans/FiraSans-Medium.otf') format('opentype')
*/
@font-face
  font-family: 'Fira Sans'
  font-style: normal
  font-weight: 700
  src: url('fonts/FiraSans/FiraSans-Bold.otf') format('opentype')
/*
@font-face
  font-family: 'Fira Sans'
  font-style: normal
  font-weight: 800
  src: url('fonts/FiraSans/FiraSans-ExtraBold.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: normal
  font-weight: 900
  src: url('fonts/FiraSans/FiraSans-Heavy.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: italic
  font-weight: 100
  src: url('fonts/FiraSans/FiraSans-EightItalic.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: italic
  font-weight: 200
  src: url('fonts/FiraSans/FiraSans-ThinItalic.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: italic
  font-weight: 300
  src: url('fonts/FiraSans/FiraSans-ExtraLightItalic.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: italic
  font-weight: 400
  src: url('fonts/FiraSans/FiraSans-BookItalic.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: italic
  font-weight: 500
  src: url('fonts/FiraSans/FiraSans-Italic.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: italic
  font-weight: 600
  src: url('fonts/FiraSans/FiraSans-MediumItalic.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: italic
  font-weight: 700
  src: url('fonts/FiraSans/FiraSans-BoldItalic.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: italic
  font-weight: 800
  src: url('fonts/FiraSans/FiraSans-ExtraBoldItalic.otf') format('opentype')
@font-face
  font-family: 'Fira Sans'
  font-style: italic
  font-weight: 900
  src: url('fonts/FiraSans/FiraSans-HeavyItalic.otf') format('opentype')
*/
