/* Clearfix */
.cf
  &::before, &::after
    content: " "
    /* 1 */
    display: table
    /* 2 */
  &::after
    clear: both
@keyframes hideOut // A helper to the .hide--out transition.
  from
    opacity: 1
  50%
    opacity: 1
  to
    opacity: 0
