/* html and body */
html
  font-size: 10px
body
  font: 1.6em/1.5 $font
  min-width: $bp-xx-max
  min-height: 100vh
  position: relative
/* Override user-agent heading defaults */
h4
  font-size: 1.1em
h5
  font-size: 1.0625em
h1,
h6
  font-size: 1em
h1
  line-height: 1
a
  color: $black-less-contrast
  text-decoration: none
p
  a
    text-decoration: underline
ol, ul
  list-style-type: none
.bg
  &--black-less-contrast
    background: $black-less-contrast
    color: white
  &--green-fepper
    background: $green
  &--red-fepper
    background: $red
  &--yellow-fepper
    background: $yellow
.align-left
  text-align: left
.align-center
  text-align: center
.pad-top-space
  padding-top: $space-sext
.pad-bottom-space
  padding-bottom: $space-sext
.pad-top-bottom-space
  padding-top: $space-sext
  padding-bottom: $space-sext
.fade
  transition: opacity 1s
.fade--in.fade--in
  opacity: 1
.fade--out.fade--out
  opacity: 0
/* Completely remove from the flow and screen readers. */
.hidden
  display: none !important
  visibility: hidden !important
/* Completely remove from the flow but leave available to screen readers. */
.visually-hidden
  position: absolute !important
  overflow: hidden
  width: 1px
  height: 1px
  padding: 0
  border: 0
  clip: rect(1px, 1px, 1px, 1px)
/* Hide elements in print view */
@media print
  header.header,
  form,
  footer.footer
    display: none
