/* html and body */
html
  font-size: 10px
body
  color: $black-less-contrast
  font: 1.6em/1.5 $font
  min-width: $bp-xx-max
  min-height: 100vh
  position: relative
/* Override user-agent heading defaults */
h3
  font-size: 1.5em
h4
  font-size: 1.17em
h5
  font-size: 1.0625em
h1,
h6
  font-size: $h1-font-size
h1
  line-height: 1
  @media all and (max-width: $bp-sm-max)
    font-size: $h1-font-size * $bp-sm-ratio
a
  color: $black-less-contrast
  text-decoration: none
code
  background-color: #eee
  font-family: Menlo, "Lucida Console", "DejaVu Sans Mono", "Liberation Mono", "Roboto Mono", monospace
  font-size: 0.875em
ol, ul
  list-style-type: none
p
  margin-bottom: 1.6rem;
pre
  background-color: #eee
  margin-top: 0
  padding: 0.8rem 1.6rem
  > code
    background-color: transparent
    display: block
strong
  font-weight: 500
.bg
  &--black-less-contrast
    background-color: $black-less-contrast
    color: white
  &--green-fepper
    background-color: $green
  &--red-fepper
    background-color: $red
  &--yellow-fepper
    background-color: $yellow
.fade
  transition: opacity 1s ease-in 1s
.fade--in.fade--in
  opacity: 1
.fade--out.fade--out
  opacity: 0
/* Completely remove from the flow and screen readers. */
.hidden
  display: none !important
  visibility: hidden !important
.slide
  .slider
    transition: transform 0.25s
/* Completely remove from the flow but leave available to screen readers. */
.visually-hidden
  position: absolute !important
  overflow: hidden
  width: 1px
  height: 1px
  padding: 0
  border: 0
  clip: rect(1px, 1px, 1px, 1px)
/* Hide elements in print view */
@media print
  header.header,
  form,
  footer.footer
    display: none
