/* html and body */
html
  font-size: (100 / 1.6)%
body
  background: $white
  font: 1.6em/1.5 $font
  -webkit-text-size-adjust: 100%
  min-width: $bp-xx-max
  min-height: 100vh
  position: relative
/* Override user-agent heading defaults */
h4
  font-size: 1.1em
h5
  font-size: 1.0625em
h6
  font-size: 1em
a
  text-decoration: none
  &:hover, &:focus
    color: gray
p
  a
    text-decoration: underline
ol, ul
  list-style-type: none
.bg
  &--green-fepper
    background: $green-fepper
  &--red-fepper
    background: $red-fepper
  &--yellow-fepper
    background: $yellow-fepper
/* Completely remove from the flow and screen readers. */
.hidden
  display: none !important
  visibility: hidden !important
/* Completely remove from the flow but leave available to screen readers. */
.visually-hidden
  position: absolute !important
  overflow: hidden
  width: 1px
  height: 1px
  padding: 0
  border: 0
  clip: rect(1px, 1px, 1px, 1px)
/* Hide elements in print view */
@media print
  header.header,
  form,
  footer.footer
    display: none
