* {
  box-sizing: border-box;
}
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}
header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}
.cf::before,
.cf::after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.cf::after {
  clear: both;
}
@-moz-keyframes hiderOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes hiderOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes hiderOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hiderOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
html {
  font-size: 10px;
}
body {
  color: #363636;
  font: 1.6em/1.5 "Fira Sans", sans-serif;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}
.dark body {
  color: #bbb;
}
h1 {
  font-size: 0.75em;
  line-height: 1;
}
@media all and (min-width: 1281px) {
  h1 {
    font-size: 1em;
  }
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.17em;
}
h5 {
  font-size: 1.0625em;
}
h6 {
  font-size: 1em;
}
a {
  color: #363636;
  text-decoration: none;
}
.dark a {
  color: #bbb;
}
blockquote {
  border-left-width: 1px;
  border-left-style: solid;
  font-style: italic;
  padding-left: 1.6rem;
}
code {
  background-color: #c4c4c4;
  font-family: Menlo, "Lucida Console", "DejaVu Sans Mono", "Liberation Mono", "Roboto Mono", monospace;
  font-size: 0.875em;
}
.dark code {
  background-color: #363636 !important;
}
ol,
ul {
  list-style-type: none;
}
ol,
p {
  margin-bottom: 1.6rem;
}
pre {
  background-color: #363636;
  color: #fff;
  font-size: 0.875em;
  margin-top: 0;
  padding: 0.8rem 1.6rem;
}
pre > code {
  background-color: transparent;
  display: block;
  font-size: 1em;
}
strong {
  font-weight: 500;
}
.bg--black-less-contrast {
  background-color: #363636;
  color: #fff;
}
.dark .bg--black-less-contrast {
  color: #bbb;
}
.bg--green-fepper {
  background-color: #027d15;
}
.bg--red-fepper {
  background-color: #d00000;
}
.bg--yellow-fepper {
  background-color: #f0c000;
}
.fade {
  transition: opacity 1s;
}
.fade--quick {
  transition: opacity 0.2s;
}
.fade--quick--in {
  opacity: 1;
}
.fade--quick--out {
  opacity: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.slider {
  transition: transform 0.25s;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
@media print {
  header.header,
  form,
  footer.footer {
    display: none;
  }
}
.branding {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
.branding__link-inactive {
  bottom: 0;
  left: 0;
  height: 3.2rem;
  position: absolute;
  width: 100%;
}
@media all and (max-width: 1024px) {
  .branding__link-inactive {
    height: 2.4rem;
  }
}
.dark .branding {
  background-color: #000;
}
.logo {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 225px;
  height: 150px;
}
@media all and (min-width: 1281px) {
  .logo {
    height: 200px;
    width: 300px;
  }
}
.logo__bg {
  background: linear-gradient(to right, #027d15, #027d15 10%, #c8b512 32.5%, #f0c000 42.5%, #f0c000 57.5%, #ffa012 65%, #d00000 92.5%, #d00000);
  position: absolute;
  bottom: 0.1rem;
  transform: translateX(0%);
  width: 225rem;
  height: calc(100% - 0.2rem);
}
@media all and (min-width: 1281px) {
  .logo__bg {
    width: 300rem;
  }
}
.logo__img {
  position: relative;
  top: 0;
  left: 0;
  width: 225px;
  height: 150px;
}
@media all and (min-width: 1281px) {
  .logo__img {
    width: 300px;
    height: 200px;
  }
}
.logo__img__gradient-cover--top,
.logo__img__gradient-cover--bottom {
  fill: #fff;
}
.dark .logo__img__gradient-cover--top,
.dark .logo__img__gradient-cover--bottom {
  fill: #000;
}
.logo__border {
  border: 0.1rem solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.dark .logo__border {
  border-color: #000;
}
.button--nav,
.button--scroll {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  line-height: 1;
  outline: 0;
  padding: 0;
}
.button--nav svg,
.button--scroll svg {
  display: block;
  fill: #bbb;
  width: 5rem;
  height: 5rem;
}
@media all and (max-width: 480px) {
  .button--nav svg,
  .button--scroll svg {
    width: 4rem;
    height: 4rem;
  }
}
.button--nav::-moz-focus-inner,
.button--scroll::-moz-focus-inner {
  border: 0;
}
.button--nav:active svg,
.button--scroll:active svg {
  fill: #999;
}
@media (hover: hover) {
  .button--nav:hover svg,
  .button--scroll:hover svg {
    fill: #999;
  }
}
.icon-cog::before {
  content: "\e994";
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav--main__buttons,
.nav--docpage__buttons {
  display: flex;
  padding-bottom: 0;
}
.nav--main {
  bottom: 0;
  left: -14rem;
  overflow: hidden;
  padding-top: 1rem;
  position: fixed;
  width: 18rem;
  z-index: 2;
}
.nav--main.in {
  background-color: #fff;
  box-shadow: 0.05rem -0.05rem 1rem #986;
  width: 14rem;
  transform: translateX(14rem);
}
.dark .nav--main.in {
  background-color: #000;
}
.nav--main.shifted {
  bottom: 8.4rem;
}
.nav--main.shifted--more {
  bottom: 10.8rem;
}
.nav--main__slider {
  background-color: #fff;
  display: flex;
  overflow: hidden;
  position: relative;
  left: 0;
  width: 14rem;
}
.in .nav--main__slider {
  width: 28rem;
}
.dark .nav--main__slider {
  background-color: #000;
}
.nav--main__button--left {
  margin: 0 5.5rem 0 0;
}
@media all and (max-width: 480px) {
  .nav--main__button--left {
    margin-right: 7.5rem;
    margin-left: -0.5rem;
  }
}
.nav--main__button--settings {
  color: #bbb;
  font-size: 2.5rem;
  margin-right: 0.5rem;
}
@media all and (max-width: 480px) {
  .nav--main__button--settings {
    font-size: 2rem;
  }
}
.settings-in + .nav--main__buttons .nav--main__button--settings {
  color: #027d15;
}
.nav--main__button--right {
  transition: opacity 0.15s ease-in 0.1s;
}
.in .nav--main__button--right {
  opacity: 0;
}
.nav--main__slider.settings-in {
  transform: translateX(-14rem);
}
.navlist,
.settings {
  width: 14rem;
}
.navlist__item,
.settings__item {
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
}
.settings__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__dark-mode {
  display: flex;
  position: relative;
  width: 3rem;
  height: 1.7rem;
}
.settings__dark-mode__input {
  opacity: 0;
  width: 0;
  height: 0;
}
.settings__dark-mode__toggle {
  background-color: #bbb;
  border-radius: 1.7rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}
.settings__dark-mode__toggle::before {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  transition: 0.4s;
  width: 1.3rem;
  height: 1.3rem;
}
.settings__dark-mode__input:checked + .settings__dark-mode__toggle {
  background-color: #027d15;
}
.settings__dark-mode__input:focus + .settings__dark-mode__toggle {
  box-shadow: 0 0 1px #2196f3;
}
.settings__dark-mode__input:checked + .settings__dark-mode__toggle::before {
  transform: translateX(1.3rem);
}
.button--scroll {
  position: fixed;
  right: 0;
  z-index: 1;
}
@media all and (max-width: 480px) {
  .button--scroll {
    right: -0.4rem;
  }
}
.button--scroll--down {
  bottom: 0;
}
.button--scroll--down.shifted {
  bottom: 8.4rem;
}
.button--scroll--down.shifted--more {
  bottom: 10.8rem;
}
.button--scroll--up {
  display: none;
  top: 0;
}
.bottom {
  background-color: #fff;
  position: relative;
}
.dark .bottom {
  background-color: #000;
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 3rem 1.5rem;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.dark .footer {
  background-color: #1a0000;
  color: #bbb;
}
