<section id="branding" class="branding">
  <a class="logo"
    {{# branding_default? }}
      href="{{ link.pages-docpage }}"
      title="Click for documentation"
    {{/ branding_default? }}
    {{# branding_docpage? }}
      href="{{ link.pages-homepage }}"
      title="Homepage"
    {{/ branding_docpage? }}
  >
    <div id="logo__bg" class="logo__bg">
      <h1>{{ heading_h1 }}</h1>
    </div>
    {{> elements-logo }}
    <div class="logo__border"></div>{{! This border hides an errant border when zooming. }}
  </a>
  <div class="branding__link-inactive"></div>
</section>
