* {
  box-sizing: border-box;
}
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}
header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}
.cf::before,
.cf::after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.cf::after {
  clear: both;
}
@-moz-keyframes hiderOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes hiderOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes hiderOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hiderOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
html {
  font-size: 10px;
}
body {
  color: #363636;
  font: 1.6em/1.5 "Fira Sans", sans-serif;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}
body.dark {
  color: #bbb;
}
h1 {
  font-size: 0.75em;
  line-height: 1;
}
@media all and (min-width: 1281px) {
  h1 {
    font-size: 1em;
  }
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.17em;
}
h5 {
  font-size: 1.0625em;
}
h6 {
  font-size: 1em;
}
a {
  color: #363636;
  text-decoration: none;
}
.dark a {
  color: #bbb;
}
blockquote {
  border-left-width: 1px;
  border-left-style: solid;
  font-style: italic;
  padding-left: 1.6rem;
}
code {
  background-color: #c4c4c4;
  font-family: Menlo, "Lucida Console", "DejaVu Sans Mono", "Liberation Mono", "Roboto Mono", monospace;
  font-size: 0.875em;
}
ol,
ul {
  list-style-type: none;
}
ol,
p {
  margin-bottom: 1.6rem;
}
pre {
  background-color: #363636;
  color: #fff;
  font-size: 0.875em;
  margin-top: 0;
  padding: 0.8rem 1.6rem;
}
pre > code {
  background-color: transparent;
  display: block;
  font-size: 1em;
}
.dark pre {
  color: #bbb;
}
strong {
  font-weight: 500;
}
.bg--black-less-contrast {
  background-color: #363636;
  color: #fff;
}
.dark .bg--black-less-contrast {
  color: #bbb;
}
.bg--green-fepper {
  background-color: #027d15;
}
.bg--red-fepper {
  background-color: #d00000;
}
.bg--yellow-fepper {
  background-color: #f0c000;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.slide .slider,
.nav--docpage__buttons {
  transition: transform 0.25s;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
@media print {
  header.header,
  form,
  footer.footer {
    display: none;
  }
}
.branding {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
.branding__link-inactive {
  bottom: 0;
  left: 0;
  height: 3.2rem;
  position: absolute;
  width: 100%;
}
@media all and (max-width: 1024px) {
  .branding__link-inactive {
    height: 2.4rem;
  }
}
.dark .branding {
  background-color: #000;
}
.logo {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 225px;
  height: 150px;
}
@media all and (min-width: 1281px) {
  .logo {
    height: 200px;
    width: 300px;
  }
}
.logo__bg {
  background: linear-gradient(to right, #027d15, #027d15 10%, #c8b512 32.5%, #f0c000 42.5%, #f0c000 57.5%, #ffa012 65%, #d00000 92.5%, #d00000);
  position: absolute;
  bottom: 0.1rem;
  transform: translateX(0%);
  width: 225rem;
  height: calc(100% - 0.2rem);
}
@media all and (min-width: 1281px) {
  .logo__bg {
    width: 300rem;
  }
}
.logo__img {
  position: relative;
  top: 0;
  left: 0;
  width: 225px;
  height: 150px;
}
@media all and (min-width: 1281px) {
  .logo__img {
    width: 300px;
    height: 200px;
  }
}
.logo__img__gradient-cover--top,
.logo__img__gradient-cover--bottom {
  fill: #fff;
}
.dark .logo__img__gradient-cover--top,
.dark .logo__img__gradient-cover--bottom {
  fill: #000;
}
.logo__border {
  border: 0.1rem solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.dark .logo__border {
  border-color: #000;
}
.button--nav,
.button--scroll {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  line-height: 1;
  outline: 0;
  padding: 0;
}
.button--nav svg,
.button--scroll svg {
  display: block;
  fill: #bbb;
  width: 5rem;
  height: 5rem;
}
@media all and (max-width: 480px) {
  .button--nav svg,
  .button--scroll svg {
    width: 4rem;
    height: 4rem;
  }
}
.button--nav::-moz-focus-inner,
.button--scroll::-moz-focus-inner {
  border: 0;
}
.button--nav:active svg,
.button--scroll:active svg {
  fill: #999;
}
@media (hover: hover) {
  .button--nav:hover svg,
  .button--scroll:hover svg {
    fill: #999;
  }
}
.nav--main__buttons,
.nav--docpage__buttons {
  display: flex;
  padding-bottom: 0;
}
.nav--main {
  bottom: 0;
  height: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 2;
}
.nav--main.in {
  width: 18rem;
}
.nav--main.out {
  width: 4.5rem;
}
@media all and (max-width: 480px) {
  .nav--main.out {
    width: 3.7rem;
  }
}
.nav--main__slider {
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding-top: 1rem;
  position: absolute;
  width: 18rem;
}
.nav--main__slider.shifted {
  bottom: 8.4rem;
}
.in .nav--main__slider {
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 1rem #986;
  width: 14rem;
}
.dark .in .nav--main__slider {
  background-color: #000;
}
.out .nav--main__slider {
  transform: translateX(-13rem);
}
@media all and (max-width: 480px) {
  .out .nav--main__slider {
    transform: translateX(-14rem);
  }
}
.nav--main .button--nav--left {
  margin: 0 8rem 0 0;
}
@media all and (max-width: 480px) {
  .nav--main .button--nav--left {
    margin-right: 10rem;
    margin-left: -0.5rem;
  }
}
.in .nav--main .button--nav--right {
  opacity: 0;
}
.navlist__item {
  font-weight: 500;
  padding-left: 1.8rem;
}
@media all and (max-width: 1024px) {
  .navlist__item {
    padding-left: 1.4rem;
  }
}
@media all and (max-width: 480px) {
  .navlist__item {
    padding-left: 1rem;
  }
}
.button--scroll {
  position: fixed;
  right: 0;
  z-index: 1;
}
@media all and (max-width: 480px) {
  .button--scroll {
    right: -0.4rem;
  }
}
.button--scroll--down {
  bottom: 0;
}
.button--scroll--up {
  display: none;
  top: 0;
}
.bottom {
  background-color: #fff;
  position: relative;
}
.dark .bottom {
  background-color: #000;
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 3rem 1.5rem;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.dark .footer {
  color: #bbb;
}
@media all and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}
h4 {
  margin: 1.6rem 0 0;
}
.webkit code {
  background-color: #fbb;
}
.chromium code {
  background-color: #eee;
}
pre {
  overflow-x: auto;
}
.webkit pre {
  background-color: #f00;
}
.webkit pre > code {
  background-color: transparent;
}
.chromium pre {
  background-color: #363636;
}
ul + p {
  margin-top: 1.6rem;
}
.fade {
  transition: opacity 1s;
}
.octicon {
  display: none;
}
.foundation {
  display: flex;
  padding-top: 3rem;
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  min-height: calc(100vh - 150px - 8.4rem);
}
@media all and (max-width: 767px) {
  .foundation {
    display: block;
  }
  .safari .foundation {
    overflow-x: hidden;
  }
}
@media all and (min-width: 1281px) {
  .foundation {
    min-height: calc(100vh - 200px - 8.4rem);
  }
}
.content {
  padding: 2rem 1.5rem 4rem 4.5rem;
  width: calc(100vw - 28.8rem);
}
.content a {
  text-decoration: underline;
}
.content ul {
  list-style-type: disc;
  margin-left: 1.2em;
}
.content ul > li > ul {
  list-style-type: circle;
}
.content ul > li > ul > li > ul {
  list-style-type: square;
}
.content ul > li > ul > li > ul ul {
  list-style-type: disc;
}
@media all and (max-width: 1024px) {
  .content {
    width: calc(100vw - 25rem);
  }
}
@media all and (max-width: 767px) {
  .content {
    min-height: 105rem;
    padding: 2rem 4rem 0;
    width: 100%;
  }
}
@media all and (max-width: 480px) {
  .content {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media all and (min-width: 1281px) {
  .content {
    width: calc(1280px - 28.8rem);
  }
}
.docpage--index .content {
  width: 100%;
}
.webkit .content {
  color: #f00;
}
.webkit .content a {
  color: #f00;
}
.chromium .content {
  color: #363636;
}
.chromium .content a {
  color: #363636;
}
.nav--docpage {
  width: 28.8rem;
}
@media all and (max-width: 767px) {
  .nav--docpage.in .nav--docpage__slider.nav--docpage__slider.nav--docpage__slider {
    transform: translateX(0);
  }
}
.nav--docpage.in .button--nav--left {
  opacity: 0;
  pointer-events: none;
}
@media all and (max-width: 1024px) {
  .nav--docpage {
    width: 25rem;
  }
}
@media all and (max-width: 767px) {
  .nav--docpage {
    width: auto;
  }
}
.docpage--index .nav--docpage {
  padding-right: 1.6rem;
  width: 100%;
}
@media all and (max-width: 767px) {
  .docpage--index .nav--docpage {
    padding-right: 0.8rem;
  }
}
.webkit .docpage--index .nav--docpage {
  color: #f00;
}
.webkit .docpage--index .nav--docpage a {
  color: #f00;
}
.chromium .docpage--index .nav--docpage {
  color: #363636;
}
.chromium .docpage--index .nav--docpage a {
  color: #363636;
}
.nav--docpage__sections {
  padding: 2rem 0.8rem 4rem 3rem;
}
@media all and (max-width: 767px) {
  .nav--docpage__sections {
    padding-left: 2rem;
  }
}
.docpage--index .nav--docpage__sections {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
.docpage--index .nav--docpage__sections .nav--docpage__section {
  padding: 0 0 2.4rem 33%;
}
@media all and (max-width: 1024px) {
  .docpage--index .nav--docpage__sections .nav--docpage__section {
    padding-left: 20%;
  }
}
@media all and (max-width: 767px) {
  .docpage--index .nav--docpage__sections .nav--docpage__section {
    padding-left: 3rem;
  }
}
@media all and (max-width: 480px) {
  .docpage--index .nav--docpage__sections {
    display: block;
  }
}
.nav--docpage__buttons {
  display: none;
  z-index: 2;
}
.nav--docpage__buttons.shifted {
  bottom: 8.4rem;
}
@media all and (max-width: 767px) {
  .nav--docpage__buttons {
    display: flex;
    bottom: 0;
    position: fixed;
    width: 10rem;
    right: -5rem;
  }
  .in .nav--docpage__buttons {
    transform: translateX(-5rem);
  }
  .docpage--index .nav--docpage__buttons {
    display: none;
  }
}
@media all and (max-width: 480px) {
  .nav--docpage__buttons {
    width: 8rem;
    right: -4rem;
  }
  .in .nav--docpage__buttons {
    transform: translateX(-4rem);
  }
}
.content,
.nav--docpage__sections {
  padding-bottom: 4rem;
}
.button--scroll--up {
  display: block;
  opacity: 0;
  position: fixed;
  top: auto;
  right: 0;
  bottom: 5rem;
  transition: opacity 0.25s;
  width: 5rem;
  height: 5rem;
}
.in .button--scroll--up.opaque {
  opacity: 1;
}
.button--scroll--up.shifted {
  bottom: 12.4rem;
}
@media all and (max-width: 480px) {
  .button--scroll--up {
    bottom: 4rem;
    width: 4rem;
    height: 4rem;
  }
}
:not(.docpage--index) > .foundation > .nav--docpage > .nav--docpage__slider {
  min-height: 100%;
  position: relative;
  z-index: 1;
}
:not(.docpage--index) > .foundation > .nav--docpage > .nav--docpage__slider > .nav--docpage__sections > .nav--docpage__section:first-child > .nav--docpage__heading {
  margin-top: 0.8rem;
}
@media all and (max-width: 767px) {
  :not(.docpage--index) > .foundation > .nav--docpage > .nav--docpage__slider {
    position: absolute;
    top: 3rem;
    right: 0;
    transform: translateX(25rem);
    width: 25rem;
  }
}
.overlay {
  pointer-events: none;
  position: fixed;
  width: 100%;
}
.overlay--top,
.overlay--bottom {
  height: 30px;
}
@media all and (min-width: 1281px) {
  .overlay--top,
  .overlay--bottom {
    height: 60px;
  }
}
.overlay--top {
  top: 150px;
}
@media all and (min-width: 1281px) {
  .overlay--top {
    top: 200px;
  }
}
.overlay--middle {
  backdrop-filter: contrast(1.5) saturate(0);
  -webkit-backdrop-filter: contrast(1.5) saturate(0);
  height: calc(100vh - 150px - 60px);
  top: 180px;
}
@media all and (min-width: 1281px) {
  .overlay--middle {
    height: calc(100vh - 200px - 120px);
    top: 260px;
  }
}
.overlay--bottom {
  bottom: 0;
}
.docpage--index > .overlay--opacity.overlay--top,
.docpage--index > .overlay--opacity.overlay--bottom {
  display: none;
}
body > .overlay--opacity.overlay--top,
body > .overlay--opacity.overlay--bottom {
  z-index: 1;
}
@media all and (max-width: 767px) {
  body > .overlay--opacity.overlay--top,
  body > .overlay--opacity.overlay--bottom {
    display: none;
  }
}
.overlay__line {
  font-size: 0.1rem;
  line-height: 1;
}
.overlay__line--opacity {
  background-color: #fff;
}
@media all and (max-width: 1280px) {
  .olf--odd,
  .olo--odd {
    display: none;
  }
}
.content--docpage--configure h5 {
  margin-top: 2.4rem;
}
.content--docpage--configure p {
  margin-bottom: 0.8rem;
}
.content--docpage--configure p + p {
  padding-top: 0.8rem;
}
.content--docpage--configure p:last-of-type {
  margin-bottom: 0;
}
.content--docpage--configure pre {
  min-width: 44rem;
}
.indent {
  margin-left: 1.2em;
  overflow-x: auto;
}
.indent h5:first-child {
  margin-top: 0.8rem;
}
.sticky {
  background-color: #fff;
  margin-top: 0;
  padding-top: 4rem;
  padding-bottom: 0.4rem;
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
}
@media all and (min-width: 1281px) {
  .sticky {
    top: 200px;
  }
}
.content--docpage--run > ul > li:nth-of-type(4) {
  display: none;
}
.chromium .overlay {
  display: none;
}
