* {
  box-sizing: border-box;
}
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}
header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}
@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]::before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-twitter::before,
.icon-stumbleupon::before,
.icon-pinterest::before,
.icon-linkedin::before,
.icon-google-plus::before,
.icon-search::before,
.icon-play::before,
.icon-menu::before,
.icon-arrow-left::before,
.icon-arrow-right::before,
.icon-bubble::before,
.icon-facebook::before,
.icon-feed::before,
.icon-youtube::before,
.icon-tag::before,
.icon-tumblr::before,
.icon-instagram,
.icon-podcast,
.icon-apple,
.icon-android,
.icon-arrow::after,
.icon-envelope::before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-twitter::before {
  content: "\74";
}
.icon-stumbleupon::before {
  content: "\75";
}
.icon-pinterest::before {
  content: "\70";
}
.icon-linkedin::before {
  content: "\69";
}
.icon-google-plus::before {
  content: "\67";
}
.icon-search::before {
  content: "\73";
}
.icon-play::before {
  content: "\61";
}
.icon-menu::before {
  content: "\21";
}
.icon-arrow-left::before {
  content: "\23";
}
.icon-arrow-right::before {
  content: "\24";
}
.icon-bubble::before {
  content: "\25";
}
.icon-facebook::before {
  content: "\66";
}
.icon-feed::before {
  content: "\27";
}
.icon-youtube::before {
  content: "\79";
}
.icon-tag::before {
  content: "\28";
}
.icon-tumblr::before {
  content: "\6d";
}
.icon-instagram::before {
  content: "\22";
}
.icon-podcast::before {
  content: "\26";
}
.icon-android::before {
  content: "\29";
}
.icon-apple::before {
  content: "\2a";
}
.icon-envelope::before {
  content: "\2b";
}
.icon-arrow::after {
  content: "\61";
  display: inline-block;
  transform: rotate(90deg);
}
.icon-play::before {
  font-size: 1.12rem;
  padding-left: 0.2em;
}
.icon-play-box {
  display: block;
  margin-left: 3.2rem;
}
.icon-play-box::before {
  padding: 0.4rem;
  background: $gray;
  color: $white;
  margin-left: -2.72rem;
  margin-right: 0.8rem;
}
.cf::before,
.cf::after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.cf::after {
  clear: both;
}
html {
  font-size: 62.5%;
}
body {
  background: $white;
  font: 1.6em/1.5 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  color: $gray-dark;
  min-width: 320px;
  min-height: 100vh;
  padding-bottom: 5rem;
  position: relative;
}
@media all and (max-width: 767px) {
  body {
    font-size: 1.4em;
  }
}
article h1,
aside h1,
nav h1,
section h1 {
  font-size: 2em;
}
h1,
h2 {
  line-height: 1.2;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1.0625em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1.6rem;
}
a {
  color: $gray-dark;
  text-decoration: none;
  outline: 0;
}
a:hover,
a:focus {
  color: $gray;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
@media print {
  header.header,
  form,
  footer.footer {
    display: none;
  }
}
body {
  height: 200vh;
}
.logo {
  margin: 1rem;
  width: 30rem;
  height: 10rem;
  overflow: hidden;
  position: fixed;
}
.logo__background {
  background: linear-gradient(to left, #027d15, #027d15 20%, #f0c000 40%, #f0c000 60%, #d00000 80%, #d00000);
  position: absolute;
  top: 0;
  right: 0;
  width: 150rem;
  height: 100%;
}
.logo__image {
  position: relative;
  top: 0;
  left: 0;
}
