* {
  box-sizing: border-box;
}
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}
header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/FiraSans/FiraSans-Book.otf") format('opentype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/FiraSans/FiraSans-Bold.otf") format('opentype');
}
.cf::before,
.cf::after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.cf::after {
  clear: both;
}
html {
  font-size: 10px;
}
body {
  background: #fff;
  font: 1.6em/1.5 "Fira Sans", sans-serif;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1.0625em;
}
h6 {
  font-size: 1em;
}
a {
  color: #333;
  text-decoration: none;
}
p a {
  text-decoration: underline;
}
ol,
ul {
  list-style-type: none;
}
.bg--black-less-contrast {
  background: #333;
  color: #fff;
}
.bg--green-fepper {
  background: #027d15;
}
.bg--red-fepper {
  background: #d00000;
}
.bg--yellow-fepper {
  background: #f0c000;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.pad-top-space {
  padding-top: 9.600000000000001rem;
}
.pad-bottom-space {
  padding-bottom: 9.600000000000001rem;
}
.pad-top-bottom-space {
  padding-top: 9.600000000000001rem;
  padding-bottom: 9.600000000000001rem;
}
.fade {
  transition: opacity 1s;
}
.fade--in.fade--in {
  opacity: 1;
}
.fade--out.fade--out {
  opacity: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
@media print {
  header.header,
  form,
  footer.footer {
    display: none;
  }
}
body {
  color: #333;
  position: relative;
}
p {
  margin-bottom: 1.6rem;
}
.body__contain {
  overflow: hidden;
}
.video-head {
  width: 100%;
  height: 33.334vw;
}
.video-head__video {
  width: 100%;
}
.branding {
  background: #fff;
  padding: 1rem 0;
  width: 100%;
  z-index: 1;
  -webkit-transform: translateZ(0);
}
.logo {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 200px;
}
.logo__bg {
  background: linear-gradient(to left, #027d15, #027d15 20%, #f0c000 40%, #f0c000 60%, #d00000 80%, #d00000);
  position: absolute;
  top: 0;
  right: 0;
  width: 150rem;
  height: 100%;
}
.logo__img {
  position: relative;
  top: 0;
  left: 0;
}
.logo__border {
  border: 0.05rem solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.browser-advice {
  margin-top: calc(100vh - 33.334vw - 200px - 1rem - 1rem);
}
.main {
  position: relative;
  text-align: center;
}
.main__content__center {
  margin: 0 auto;
  max-width: 100rem;
}
.main__content__block {
  opacity: 1;
  padding: 1rem 0;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}
@media all and (max-width: 1024px) {
  .main__content__block {
    margin: 0 1.2rem;
  }
}
.main__content__block:first-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.main__content__block:nth-child(2) {
  padding-top: 0;
}
.link-github {
  display: flex;
  justify-content: center;
  line-height: 2.8rem;
}
.link-github__anchor {
  display: block;
}
.link-github__anchor:hover + .link-github__anchor--arrow,
.link-github__anchor--arrow:hover {
  font-size: 2.2rem;
}
.link-github__anchor--arrow {
  font-size: 2rem;
  padding-left: 1rem;
  width: 3.2rem;
}
.footer {
  background-color: #000;
  color: #fff;
  margin-top: calc(100vh - 8rem - 200px - 1rem - 1rem);
  padding: 3rem 0;
  text-align: center;
  width: 100%;
}
html.es6-modules-enabled .browser-advice {
  display: none;
}
html.es6-modules-enabled .main__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
html.es6-modules-enabled .main__content__slid:first-child {
  padding-top: 0.5rem;
}
