<section class="overlay overlay--opacity overlay--top">
  <div class="overlay__line overlay__line--opacity olo--119" style="opacity: 0.9833333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--118" style="opacity: 0.9666666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--117" style="opacity: 0.95"> </div>
  <div class="overlay__line overlay__line--opacity olo--116" style="opacity: 0.9333333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--115" style="opacity: 0.9166666666666666"> </div>
  <div class="overlay__line overlay__line--opacity olo--114" style="opacity: 0.9"> </div>
  <div class="overlay__line overlay__line--opacity olo--113" style="opacity: 0.8833333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--112" style="opacity: 0.8666666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--111" style="opacity: 0.85"> </div>
  <div class="overlay__line overlay__line--opacity olo--110" style="opacity: 0.8333333333333334"> </div>
  <div class="overlay__line overlay__line--opacity olo--109" style="opacity: 0.8166666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--108" style="opacity: 0.8"> </div>
  <div class="overlay__line overlay__line--opacity olo--107" style="opacity: 0.7833333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--106" style="opacity: 0.7666666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--105" style="opacity: 0.75"> </div>
  <div class="overlay__line overlay__line--opacity olo--104" style="opacity: 0.7333333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--103" style="opacity: 0.7166666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--102" style="opacity: 0.7"> </div>
  <div class="overlay__line overlay__line--opacity olo--101" style="opacity: 0.6833333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--100" style="opacity: 0.6666666666666666"> </div>
  <div class="overlay__line overlay__line--opacity olo--99" style="opacity: 0.65"> </div>
  <div class="overlay__line overlay__line--opacity olo--98" style="opacity: 0.6333333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--97" style="opacity: 0.6166666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--96" style="opacity: 0.6"> </div>
  <div class="overlay__line overlay__line--opacity olo--95" style="opacity: 0.5833333333333334"> </div>
  <div class="overlay__line overlay__line--opacity olo--94" style="opacity: 0.5666666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--93" style="opacity: 0.55"> </div>
  <div class="overlay__line overlay__line--opacity olo--92" style="opacity: 0.5333333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--91" style="opacity: 0.5166666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--90" style="opacity: 0.5"> </div>
  <div class="overlay__line overlay__line--opacity olo--89" style="opacity: 0.48333333333333334"> </div>
  <div class="overlay__line overlay__line--opacity olo--88" style="opacity: 0.4666666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--87" style="opacity: 0.45"> </div>
  <div class="overlay__line overlay__line--opacity olo--86" style="opacity: 0.43333333333333335"> </div>
  <div class="overlay__line overlay__line--opacity olo--85" style="opacity: 0.4166666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--84" style="opacity: 0.4"> </div>
  <div class="overlay__line overlay__line--opacity olo--83" style="opacity: 0.38333333333333336"> </div>
  <div class="overlay__line overlay__line--opacity olo--82" style="opacity: 0.36666666666666664"> </div>
  <div class="overlay__line overlay__line--opacity olo--81" style="opacity: 0.35"> </div>
  <div class="overlay__line overlay__line--opacity olo--80" style="opacity: 0.3333333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--79" style="opacity: 0.31666666666666665"> </div>
  <div class="overlay__line overlay__line--opacity olo--78" style="opacity: 0.3"> </div>
  <div class="overlay__line overlay__line--opacity olo--77" style="opacity: 0.2833333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--76" style="opacity: 0.26666666666666666"> </div>
  <div class="overlay__line overlay__line--opacity olo--75" style="opacity: 0.25"> </div>
  <div class="overlay__line overlay__line--opacity olo--74" style="opacity: 0.23333333333333334"> </div>
  <div class="overlay__line overlay__line--opacity olo--73" style="opacity: 0.21666666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--72" style="opacity: 0.2"> </div>
  <div class="overlay__line overlay__line--opacity olo--71" style="opacity: 0.18333333333333332"> </div>
  <div class="overlay__line overlay__line--opacity olo--70" style="opacity: 0.16666666666666666"> </div>
  <div class="overlay__line overlay__line--opacity olo--69" style="opacity: 0.15"> </div>
  <div class="overlay__line overlay__line--opacity olo--68" style="opacity: 0.13333333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--67" style="opacity: 0.11666666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--66" style="opacity: 0.1"> </div>
  <div class="overlay__line overlay__line--opacity olo--65" style="opacity: 0.08333333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--64" style="opacity: 0.06666666666666667"> </div>
  <div class="overlay__line overlay__line--opacity olo--63" style="opacity: 0.05"> </div>
  <div class="overlay__line overlay__line--opacity olo--62" style="opacity: 0.03333333333333333"> </div>
  <div class="overlay__line overlay__line--opacity olo--61" style="opacity: 0.016666666666666666"> </div>
  <div class="overlay__line overlay__line--opacity olo--60" style="opacity: 0"> </div>
</section>
