* {
  box-sizing: border-box;
}
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}
header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/FiraSans/FiraSans-Book.otf") format('opentype');
}
.cf::before,
.cf::after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.cf::after {
  clear: both;
}
html {
  font-size: 62.5%;
}
body {
  background: $white;
  font: 1.6em/1.5 "Fira Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1.0625em;
}
h6 {
  font-size: 1em;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #808080;
}
p a {
  text-decoration: underline;
}
ol,
ul {
  list-style-type: none;
}
.bg--green-fepper {
  background: #027d15;
}
.bg--red-fepper {
  background: #d00000;
}
.bg--yellow-fepper {
  background: #f0c000;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.pad-top-space {
  padding-top: 1.6rem;
}
.pad-top-space-half {
  padding-top: 0.8rem;
}
.pad-bottom-space {
  padding-bottom: 1.6rem;
}
.pad-bottom-space-half {
  padding-bottom: 0.8rem;
}
.pad-top-bottom-space {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.pad-top-bottom-space-half {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.margin-top-space {
  margin-top: 1.6rem;
}
.margin-top-space-half {
  margin-top: 0.8rem;
}
.margin-bottom-space {
  margin-bottom: 1.6rem;
}
.margin-bottom-space-half {
  margin-bottom: 0.8rem;
}
.margin-top-bottom-space {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.margin-top-bottom-space-half {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.fade {
  transition: opacity 1s;
}
.fade--in.fade--in {
  opacity: 1;
}
.fade--out.fade--out {
  opacity: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.visually-hidden,
.main__content__slider {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
@media print {
  header.header,
  form,
  footer.footer {
    display: none;
  }
}
body {
  position: relative;
}
.video-head {
  width: 100%;
  height: 33.334vw;
}
.branding {
  background: #fff;
  padding: 1rem 0;
  width: 100%;
}
.logo {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 30rem;
  height: 20rem;
}
.logo__bg {
  background: linear-gradient(to left, #027d15, #027d15 20%, #f0c000 40%, #f0c000 60%, #d00000 80%, #d00000);
  position: absolute;
  top: 0;
  right: 0;
  width: 150rem;
  height: 100%;
}
.logo__img {
  position: relative;
  top: 0;
  left: 0;
}
.browser-advice {
  margin-top: calc(100vh - 33.334vw - 20rem - 1rem - 1rem);
}
.main {
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
}
@media all and (max-width: 1024px) {
  .main {
    margin: 0 1.2rem;
  }
}
.main__content__item {
  transition: margin-top 1s;
}
.main__content__slid {
  margin-top: 0;
}
.main__content__slid + .main__content__slider {
  margin-top: calc(100vh - 17vw - 20rem - 1rem - 1rem);
}
.main__content__item--last {
  margin-top: calc(100vh - 8rem - 20rem - 1rem - 1rem);
}
